<script id="about-tpl" type="text/template">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <span id="back">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                </div>
                <div class="col-xs-8">
                    <div class="container-fluid text-center">
                        <h4 class="navbar-text">
                            <img src="./media/images/logo.png" height="25px" />
                            <span>{{ title }}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div id="faq-container" class="col-xs-6">
            <!-- Workflow help -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{{ workflowHelp }}</span>
                </div>
                <div class="panel-body">
                    <div id="add-subject-parent" class="faq-panel">
                        <a class='faq-header' data-toggle="collapse" data-target="#add-subject" aria-expanded="false" aria-controls="add-subject">
                            {{ subjectHeader }}
                            <i class="fa fa-chevron-right pull-right"></i>
                            <i class="fa fa-chevron-down pull-right"></i>
                        </a>
                        <div id="add-subject" class="collapse" data-parent="#add-subject-parent">
                            <div class="faq-body">{{ subjectBody }}</div>
                            <button id="btn-add-patient" class="btn btn-default">{{ addPatient }}</button>
                        </div>
                        
                    </div>
                    <div id="add-user-parent" class="faq-panel">
                        <a class='faq-header' data-toggle="collapse" data-target="#add-user" aria-expanded="false" aria-controls="add-users">
                            {{ userHeader }}
                            <i class="fa fa-chevron-right pull-right"></i>
                            <i class="fa fa-chevron-down pull-right"></i>
                        </a>
                        <div id="add-user" class="collapse" data-parent="#add-user-parent">
                            <div class="faq-body">
                                {{ userBody }}
                            </div>
                            <button id="btn-add-user" class="btn btn-default">{{ addUser }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Device help -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{{ deviceHelp }}</span>
                </div>
                <div class="panel-body">
                    <div id="device-language-parent" class="faq-panel">
                        <a class='faq-header' data-toggle="collapse" data-target="#device-language" aria-expanded="false" aria-controls="device-language">
                            {{ deviceLangHeader }}
                            <i class="fa fa-chevron-right pull-right"></i>
                            <i class="fa fa-chevron-down pull-right"></i>
                        </a>
                        <div id="device-language" class="collapse" data-parent="#device-language-parent">
                            <div class="faq-body">
                                {{ deviceLangBody }}
                            </div>
                            <button id="btn-device-language" class="btn btn-default">{{ editDeviceLang }}</button>
                        </div>
                    </div>
                    <div id="device-patient-language-parent" class="faq-panel">
                        <a class='faq-header' data-toggle="collapse" data-target="#patient-language" aria-expanded="false" aria-controls="patient-language">
                            {{ patientLangHeader }}
                            <i class="fa fa-chevron-right pull-right"></i>
                            <i class="fa fa-chevron-down pull-right"></i>
                        </a>
                        <div id="patient-language" class="collapse" data-parent="#patient-language-parent">
                            <div class="faq-body">
                                {{ patientLangBody }}
                            </div>
                            <button id="btn-patient-language" class="btn btn-default">{{ editPatientLang }}</button>
                        </div>
                    </div>
                    <div id="timezone-parent" class="faq-panel">
                        <a class='faq-header' data-toggle="collapse" data-target="#timezone" aria-expanded="false" aria-controls="timezone">
                            {{ timezoneHeader }}
                            <i class="fa fa-chevron-right pull-right"></i>
                            <i class="fa fa-chevron-down pull-right"></i>
                        </a>
                        <div id="timezone" class="collapse" data-parent="#timezone-parent">
                            <div class="faq-body">
                                {{ timezoneBody }}
                            </div>
                            <button id="btn-timezone" class="btn btn-default">{{ timezoneBtn }}</button>
                        </div>
                    </div>
                    <div id="network-parent" class="faq-panel">
                        <a class='faq-header' data-toggle="collapse" data-target="#network" aria-expanded="false" aria-controls="network">
                            {{ networkHeader }}
                            <i class="fa fa-chevron-right pull-right"></i>
                            <i class="fa fa-chevron-down pull-right"></i>
                        </a>
                        <div id="network" class="collapse" data-parent="#network-parent">
                            <div class="faq-body">
                                {{ networkBody }}
                            </div>
                        </div>
                    </div>
                    <div id="visit-parent" class="faq-panel">
                        <a class='faq-header' data-toggle="collapse" data-target="#visit" aria-expanded="false" aria-controls="visit">
                            {{ visitHeader }}
                            <i class="fa fa-chevron-right pull-right"></i>
                            <i class="fa fa-chevron-down pull-right"></i>
                        </a>
                        <div id="visit" class="collapse" data-parent="#visit-parent">
                            <div class="faq-body">
                                {{ visitBody }}
                            </div>
                            <button id="btn-visit" class="btn btn-default">{{ visitBtn }}</button>
                        </div>
                    </div>
                    <div id="dcr-parent" class="faq-panel">
                        <a class='faq-header' data-toggle="collapse" data-target="#dcr" aria-expanded="false" aria-controls="dcr">
                            {{ dcrHeader }}
                            <i class="fa fa-chevron-right pull-right"></i>
                            <i class="fa fa-chevron-down pull-right"></i>
                        </a>
                        <div id="dcr" class="collapse" data-parent="#dcr-parent">
                            <div class="faq-body">
                                <div class="faq-body">
                                    {{ dcrBody }}
                                </div>
                                <button id="btn-dcr" class="btn btn-default">{{ dcrBtn }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="settings-container" class="col-xs-6 info-container">
        </div>
    </div>
</script>
