<!-- END USER LICENSE TEMPLATE
    @param header Displayed application header.
    @param title Displayed page title.
    @param text The text of the end user license
    @param decline The text of the decline button
    @param accept The text of the accept button
-->
<script id="end-user-license-template" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-xs-4" />
                <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 col-xs-4 header-item text-right">
                    <span id="help-btn" class="pull-right header-help">
                        <span>{{ help }}</span>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <div id="content" class="container-fluid">
        <div id="end-user-license-wrapper">
            <h4 class="bold col-xs-12 col-md-12 text-center"><strong>{{ title }}</strong></h4>
            <div><span>{{ text }}</span></div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ decline }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ accept }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>
