<!-- QUESTIONNAIRE TEMPLATE
	@param header The text to display for the application's header.
	@param className The CSS class to use for the questionnaire
	@param backIcon The icon to display for the back button.
	@param back The text to display for the back button.
	@param nextIcon The icon to display for the next button.
	@param next The text to display for the next button.
-->
<script id="first-site-user-questionnaire-template" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-xs-3" />
                <div class="col-sm-6 col-xs-6 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-3 col-xs-3 header-item text-right">
                    <span id="help-btn" class="pull-right header-help">
                        <span>{{ help }}</span>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="intro">
                    <p class="lead">{{ tagline }}</p>
                </div>
                <form class="form">
                    <div id="questionnaire" class="{{ className }}">

                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="prevItem" class="btn btn-lg btn-primary nav nav-backward" disabled="disabled">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="cancelItem" class="btn btn-lg btn-primary nav">
            	<span class="text">{{ cancel }}</span>
            </button>

            <button id="nextItem" class="btn btn-lg btn-primary nav nav-forward" disabled="disabled">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>
