<script id="info-tpl" type="text/template">
    <div class="info-content container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-title">{{ labelDeviceInfo }}</span></div>
            <div class="panel-body">
                <div class="def-group">
                    <div class="def-title">{{ labelStudyVersion }}</div>
                    <div class="def-text">{{ studyVersion }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelStudyURL }}:</div>
                    <div class="def-text">{{ studyURL }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelDeviceId }}:</div>
                    <div class="def-text">{{ deviceId }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelDeviceSerialNumber }}:</div>
                    <div class="def-text">{{ deviceSerialNumber }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelUsername }}</div>
                    <div class="def-text">{{ username }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelSite }}:</div>
                    <div class="def-text">{{ site }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelStoredReports }}</div>
                    <div class="def-text">{{ storedReports }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelProductVersion }}</div>
                    <div class="def-text">{{ productVersion }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelBatteryLevel }}:</div>
                    <div class="def-text">{{ batteryLevel }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelLastRefreshTime }}:</div>
                    <div class="def-text">{{ lastRefreshTime }}</div>
                </div>        
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-title">{{ labelStudyInfo }}</span></div>
            <div class="panel-body">
                <div class="def-group">
                    <div class="def-title">{{ labelProtocol }}</div>
                    <div class="def-text">{{ protocol }}</div>
                </div>
                <div class="def-group">
                    <div class="def-title">{{ labelSponsor }}</div>
                    <div class="def-text">{{ sponsor }}</div>
                </div>
            </div>
        </div>
    </div>
</script>