<script id="language-selection-tpl" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-xs-4" />
                <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 col-xs-4 header-item text-right">
                    <span id="help-btn" class="pull-right header-help">
                        <span>{{ help }}</span>
                    </span>
                </div>
            </div>
		</div>
	</nav>

    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="intro">
                    <p class="lead">{{ tagline }}</p>
                </div>

                <form class="form">

                    <!-- Language -->
                    <div class="form-group">
                        <label for="language">{{ language }}</label>
                        <select id="language" class="form-control" name="language"></select>
                    </div>

                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>


	<footer id="footer" class="footer">
	    <div class="single-btn">
            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
	    </div>
	</footer>

</script>
