<script id="mode-selection-tpl" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px"/>
                <span>{{ header }}</span>
            </h4>
        </div>
    </header>

    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                <div class="intro">
                    <p class="lead">{{ tagline }}</p>
                </div>
                <form class="form">

                    <!-- Mode -->
                    <div class="form-group">
                        <label for="mode">{{ mode }}</label>
                        <select id="mode" class="form-control" name="mode">
                            <option disabled selected> -- Select a mode --</option>
                            <option value="provision">{{ provision }}</option>
                            <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                            <option value="depot">{{ depot }}</option> -->
                            <option value="trainer">{{ trainer }}</option>
                            <option value="screenshot">{{ screenshot }}</option>
                        </select>

                        <p id="description" class="help-block"></p>
                    </div>

                    <!-- Environment -->
                    <div class="form-group hidden">
                        <label for="environment">{{ environment }}</label>
                        <select id="environment" class="form-control" name="environment">

                        </select>
                    </div>

                    <!-- Custom -->
                    <div class="form-group hidden">
                        <br/>
                        <label for="custom">{{ custom }}</label>
                        <input id="custom" class="form-control" type="text" name="custom"/>
                        <br/>
                        <label for="customStudyDbName">{{ customStudyDbName }}</label>
                        <input id="customStudyDbName" class="form-control" type="text" name="customStudyDbName"/>
                    </div>

                </form>

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="single-btn">
            <button disabled id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>
