<script id="site-selection-tpl" type="text/template">

	<header class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid text-center">
			<h4 class="navbar-text">
				<img src="./media/images/logo.png" height="25px" />
				<span>{{ header }}</span>
			</h4>
		</div>
	</header>

    <div id="content" class="container-fluid">

        <div class="row">

            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                <div class="intro">
                    <h3>{{ study }}</h3>

                    <p class="lead">{{ tagline }}</p>
                </div>

                <form id="siteSelectionForm">

                    <!-- Site -->
                    <div class="form-group">
                        <label for="site">{{ site }}:</label>
                        <select id="site" class="form-control" name="site" data-placeholder="{{ siteNumber }}">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="unlock-code">{{ unlockCode }}:</label>
                        <input id="unlock-code" class="form-control" name="unlock-code-{{ key }}" type="text"
                               placeholder="{{ enterUnlockCode }}" disabled readonly/>
                        <small class="help-block">{{ helpText }}</small>
                    </div>

                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>

	<footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward" disabled>
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
	    </div>
	</footer>

</script>
