<script id="summary-screen-tpl" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-xs-4"/>
                <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 col-xs-4 header-item text-right">
                    <span id="help-btn" class="pull-right header-help">
                        <span>{{ help }}</span>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="intro">
                    <p class="lead">{{ title }}</p>
                </div>
                <form id="summaryScreenForm">
                    <div class="row form-group">
                        <!-- Network -->
                        <div class="col-sm-4">
                            <label>{{ networkConnection }}</label>
                        </div>
                        <div class="col-sm-8">{{ networkConnectionVal }}</div>
                    </div>
                    <div class="row form-group">
                        <!-- Data Transmission -->
                        <div class="col-sm-4">
                            <label>{{ dataTransmission }}</label>
                        </div>
                        <div class="col-sm-8">{{ dataTransmissionVal }}</div>
                    </div>
                    <hr/>
                    <div class="row form-group">
                        <!-- Language -->
                        <div class="col-sm-4">
                            <label>{{ language }}</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="col-sm-12">{{ languageVal }}</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <!-- TimeZone -->
                        <div class="col-sm-4">
                            <label>{{ timeZone }}</label>
                        </div>
                        <div class="col-sm-8">
                            <div dir="ltr" class="col-sm-12">{{ timeZoneVal }}</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <!-- Site Administrator -->
                        <div class="col-sm-4">
                            <label>{{ siteAdministrator }}</label>
                        </div>
                        <div class="col-sm-8">
                            <div class="col-sm-12">{{ siteAdministratorVal }}</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>


    <footer id="footer" class="footer">
        <div class="single-btn">
            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ finalize }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>
