<script id="test-connection-tpl" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-xs-4" />
                <div class="col-sm-4 col-xs-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 col-xs-4 header-item text-right">
                    <span id="help-btn" class="pull-right header-help">
                        <span>{{ help }}</span>
                    </span>
                </div>
            </div>
        </div>
    </nav>

    <div id="content" class="container-fluid new-user">

        <div class="row">

            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="intro">
                    <p class="lead">{{ tagline }}</p>
                </div>

                <div id="checkConnection" class="table-wrapper">
                    <p>
                        {{ helpText }}
                    </p>

                    <button id="connectionBtn" class="btn btn-primary btn-block" type="button" >
                        <span class="text">{{ tagline }}</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>
