﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="appcache.aspx.cs" Inherits="WebDiary.StudyPortal.AppCache" ContentType="text/cache-manifest" %>CACHE MANIFEST
# preferred language hash <%# selectedLanguageHash%>
<asp:literal runat="server" id="litBomFile"></asp:literal>
