@baseUrl: './app/core/less';
@import (reference) '@{baseUrl}/colors';


// Setup Site assignment view [Activation]

#site-assignment-view,
.activation {
    background: inherit;
    background: #046090 url('../media/images/bg-white.png') bottom left no-repeat;
    min-height:  100%;
    .table-wrapper {
        background: rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 20px;
    }
    table { background-color: #fff; }
    p {
        color: #fff;
    }
    .navbar { margin-bottom: 0px !important; }
    #content {
        padding-top: 20px;
    }
    p.lead { color: @white; }
    form {
        background: rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 20px;
        .help-block { color: #fff; }
        label { color: #fff;}
    }
}
//******************* TEMPORARY STYLES START ********************/


body {
    min-width: 1024px;
    min-height: 668px;
    max-width: 1024px;
    max-height: 668px;
    margin: 0 auto;
}

#home-view .snap-bottom,
#site-users-view .snap-bottom,
#visit-gateway .snap-bottom,
#begin-visit .snap-bottom {
    min-width: 1024px;
    max-width: 1024px;
    min-height: 529px;
    left: unset;
    right: unset;
}

#application > div {
    > nav,
    > nav + div {
        min-width: 1024px;
        max-width: 1024px;
    }
}

.detail-list {
    .dl-horizontal dt {
        html[dir='ltr'] & {
            float: left;
        }

        html[dir='rtl'] & {
            float: right;
        }
    }
}
//******************* TEMPORARY STYLES END ********************/

@media (min-width: 768px) {
    .container {
        width: 1024px;
    }
}

#login-view {
    .select2-container, .select2-selection--single {
        height: 40px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height:40px;
    }
    .select2-selection__rendered {
        html[dir='ltr'] & {
            direction: ltr;
        }
        html[dir='rtl'] & {
            direction: rtl;
        }
    }
    .select2-selection__arrow {
        html[dir='ltr'] & {
            margin-left: 2px;
        }

        html[dir='rtl'] & {
            margin-right: 2px;
        }

        margin-top: 2px;
    }
    button#forgot-password {
        color: #FFF;
        text-decoration: underline;
        cursor: pointer;
    }
    #sync-button {
        cursor: pointer;
    }
}

html[dir='rtl'] .select2-container .select2-selection--single .select2-selection__rendered {
    text-align: right;
}

body:after {
    content: '';
    font-family: 'FontAwesome';
    content: url('../media/images/admin.png');
    display:none;
}
