.matrix-container {

    div.RadioButton {
        .item.btn {
            &:active {
                div.icon {
                    box-shadow: none;
                }
            }
        }
    }
}
