
@import (reference) 'app/core/less/mixins';

#modalContainer {
  div.modal {
      position: fixed;

      // do not let element styling make this display: none.
      // hide and use z-index to keep behind everything
      display: block!important;
      visibility: hidden;
      z-index: -5000;

      .modal-dialog {
          pointer-events: all;
          position: relative;

          // horizontal centering
          margin-left: auto;
          margin-right: auto;

          // vertical centering
          top: 50%;
          .transform(translateY(-50%));

          .modal-footer button {
              min-width: 45%;
              width: auto;
          }
      }
  }
  
  div.modal.in {
      z-index: 1050;
      visibility: visible;
  }
  
    div.modal.nocancel {
        pointer-events: none;
    }
}

.date-spinner-modal, .number-spinner-modal, .multiple-choice-modal {
    width: 100%!important;
}

.modal-horizontal-container {
    // Wrap if necessary, if horizontal layout is too long
    flex-wrap: wrap;
}