@import (reference) 'colors';
@import (reference) 'mixins';

//-------------------------------------
// GENERAL STYLES (footer)
//-------------------------------------
.footer {
    display: inline;
    position: relative;

    z-index: 10;

    .single-btn,
    .multiple-btns {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    button {
        height: 50px;

        &.btn-primary {
            background-color: @blue-inverse;    
            &:not(.single-button):not(:last-child) {
                html[dir="ltr"] & {
                    border-right: 1px solid @black;
                }
                
                html[dir="rtl"] & {
                    border-left: 1px solid @black;
                    border-right: unset;
                }
            }

            &.nav-backward {
                background-color: @blue-inverse;    
            }

            &.nav-forward {
                background-color: @blue-inverse;                       
            }

            &.nav {
                outline: 0;
                outline-offset: 0;
            }
            
            &.disabled,
            &:disabled,
            &[disabled],
            &[disabled="disabled"] {
                background-color: @blue-dark;
                opacity: 1;
                color: @blue-inverse;
            }
        }

        &#back {
            margin-right: 0;
            html[dir="rtl"] & {
                margin-left: 0;
                margin-right: unset;
            }
        }

        &.btn {
            border-radius: 0;
            font-weight: 400;
            font-size: 1.25em;
            width: 100%;
            border: 0;
            margin-bottom: 0;
            position: relative;
            display: flex;
            align-items: center;
        }

        span {
            display: inline-block;

            &.text {
                width: 100%;
            }

            &.glyphicon, &.fa {
                .glyphicon-nav-styles;
            }
        }

        &:after {
            clear: both;
            display: table;
            content: " ";
        }
    }  
}
