//- forms.less
@import (reference) 'mixins';
@import (reference) 'colors';

@form-elem-height: 40px;

.input-group {
    > .form-control {
        &:first-child {
            border-radius: 0;
        }
    }

    > .input-group-addon {
        &:last-child {
            border-radius: 0;
            border-left: 1px;
            border-left-color: #ccc;
            border-left-style: solid;
        }
    }

    .select2-container--default {
        .select2-selection--single {

            .select2-selection__rendered {
                line-height: @form-elem-height;
            }
        }
    }

    .select2-hidden-accessible {
        height: 0;
        display: none
    }
    .input-state(default);

    &.password-form:not(.has-feedback){
        .input-state(passwordDefault);
    }



    &.has-feedback {

        &.has-error {
            .input-state(error);
        }

        &.has-success {
            .input-state(success);
        }
    }
}

.has-error {
    span.glyphicon-minus-sign{
        padding-top:2px;
    }
    .form-control, .form-control:focus {
        border-color: @orangey-red;
    }

    .form-control-feedback {
        color: @orangey-red;
        font-size: 1.25em;
        line-height: 2;
    }
}

.has-success {
    .form-control, .form-control:focus {
        border-color: @lemon-green;
    }

    .form-control-feedback {
        color: @lemon-green;
        font-size: 1.25em;
        line-height: 2;
    }
}

.form-control {
    .form-control-base;

    &.disabled,
    &:disabled,
    &[disabled],
    &[disabled="disabled"] {
        color: #aaa;
        background-color: #eee;
        pointer-events: none;
    }
}

input.form-control {
    &#txtNewPassword,
    &#password,
    &#txtConfirmPassword,
    &#txtCurrentPassword,
    &#txtPassword,
    &#FIRST_USER_W_5,
    &#FIRST_USER_W_6 {
        -webkit-text-security: disc;
    }
}

.has-feedback .form-control {
  padding-right: 12px;
}

.select2-container--default .select2-results > .select2-results__options {
    overflow-x: hidden;
    html[dir="rtl"] & {
        text-align: right;
    }
    html[dir="ltr"] & {
        text-align: left;
    }
}

select.form-control.select-widget {
    border: none;
    padding: 0;
    height: 34px;
    width: 0;
}
