@import (reference) 'colors';
@import (reference) 'mixins';


.modal {
    top: 50%;
    bottom: auto;
    position: fixed;
    padding-right: 0px !important;
    .transform(translateY(-50%));

    .modal-dialog {
        margin: 0;

        .modal-content {
            border: 0;
            border-radius: 0;
        }
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 450px;
            margin: auto auto;
        }
        .modal-content {
            .box-shadow(0, 5px, 15px, rgba(0, 0, 0, .5));
        }
        .modal-sm {
            width: 450px;
        }
    }

    @media (min-width: 992px) {
        .modal-lg {
            width: 600px;
      }
    }

    .modal-header {
        .modal-header;
    }

    .modal-body {
        color: @black;
    }

    .modal-footer {
        .modal-footer;
    }

    &.warning, &.error {
        .modal-header {
            .modal-header(@orangey-red);
        }
        .modal-footer {
            .modal-footer;
        }
    }

    &.success {
        .modal-header {
            .modal-header(@lemon-green);
        }
        .modal-footer {
            .modal-footer;
        }
    }

    &.confirm {
        .modal-header {
            .modal-header(@blue-inverse);
        }
        .modal-footer {
            .modal-footer;
        }
    }

// alert, notification, warning, error, information, success
}

.modal-open {
    padding-right: 0px !important;
}

