// /* General styles */
@baseUrl: './app/core/less';
@import (reference) '@{baseUrl}/mixins';
@import (reference) '@{baseUrl}/colors';
@import (reference) '@{baseUrl}/fonts';

button:focus, button {
    outline:transparent !important;
}
.ellipsis-overflow {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100%;
    white-space: nowrap !important;
}

.ellipsis-overflow {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100%;
    white-space: nowrap !important;
}

#application {
    > div {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        &#login-view {
            > div {
                padding-bottom: 0;
            }
        }

        > div {
            position: relative;
            flex-grow: 100;
        }
    }
}

/* Workaround for mobile browsers that implement a 300ms for firing touch events to ensure the user isn't scrolling or zooming. */
html {
    touch-action: manipulation;
    .font-size(16);
}

/* Width for media that is less than 768 px.  95% so it has a little bit of breathing room. */
@media (max-width: 767px) {
    .container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

div.signature-frame {

    /* Style for clear button of SignatureBox widget  */
    div.signature-box {
        margin: 10px 0px 5px 0px;

        /* Style for the canvas element of SignatureBox widget  */
        canvas.jSignature {
            background-color: lighten(@addon-border-color, 22%);
            touch-action: none;
            display: block;
            border: 2px dashed @addon-border-color!important;
            border-radius: 5px;
            height: 200px!important;
            @media screen
                and (device-width: 360px)
                and (device-height: 640px)
                and (orientation: portrait) {
                height:150px!important;
            }
        }
    }
}

/* Allows the Site User Name to go to the next line without truncating if it is one long word */
#site-user-name {
    word-wrap: break-word;
}

#site-user-list-content > div {
    border: 1px solid #7d8389;
}

.btn-default:focus {
    color: #FFFFFF;
}

.right-direction {
    direction: rtl;
}

.left-direction {
    direction: ltr;
}

/* The already existing .text-right css class aligns the text according to the direction of the current language. This class will always align right */
.text-right-absolute {
    text-align: right !important;
}

/* The already existing .text-left css class aligns the text according to the direction of the current language. This class will always align left */
.text-left-absolute {
    text-align: left !important;
}

/* A red background and border, indicating an error has occurred */
.ui-state-error {
    background         : #ff6b7f;
    border             : 1px solid red !important;
    box-shadow         : 0px 0px 12px #F00 !important/*{global-active-background-color}*/;
    opacity            : 0.7;
    -moz-box-shadow    : 0px 0px 12px #F00 !important /*{global-active-background-color}*/;
    -webkit-box-shadow : 0px 0px 12px #F00 !important /*{global-active-background-color}*/;
    -webkit-transition : opacity 1s linear;
}

/* A red border, indicating an error has occurred */
.ui-state-error-border {
    border             : 1px solid red;
    box-shadow         : 0px 0px 12px #F00 !important/*{global-active-background-color}*/;
    -moz-box-shadow    : 0px 0px 12px #F00 !important /*{global-active-background-color}*/;
    -webkit-box-shadow : 0px 0px 12px #F00 !important /*{global-active-background-color}*/;
}

/* Default select2-container to be full width of the container, so it handles resizes and restarts properly. */
.select2.select2-container {
    width: 100%;
}

/* Clear fix for floating elements */
.clearfix:after {
    clear       : both;
    content     : ".";
    display     : block;
    height      : 0;
    line-height : 0;
    visibility  : hidden;
}

/* Clear fix for floating elements */
.clearfix {
    display : inline-block;
}
