@import (reference) './app/core/less/bootstrap';

#AFFIDAVIT {
    display: block;
    .P_AFFIDAVIT_HEADER {
        padding-bottom: .5em;
        border-bottom: 1px solid #eee;
    }

    .SITE_REPORT_AFF:extend(.clearfix all) {
        p {
            margin: 1em 0 0.75em;
        }
    }

    .PATIENT_REPORT_AFF {
        p {
            margin-top:1em;
        }
    }

    .signature-frame .btn {
        background-color: white;
        margin-top: 1em;
        border: 1px solid #ccc;
    }

    /** Sign AFfidavit Page Styles */
    .canvas {
        width: 60%;
        margin: 0 auto;
        clear: both;
        margin-bottom: 50px;
        height:200px!important;
        canvas {
            width: 100%;
            height: 200px;
            margin: 5px 0;
        }
    }

    #signature-clear{
        margin-top:1em;
    }
}

#signature-clear {
    outline: none !important;
}
