@import 'app/core/less/colors';

.date-spinner-modal {
  /* text-align center, along with inline-block for child, will make this horizontally center */
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  display: none;
}

.date-spinner-modal.in {
  display: block;
  position: absolute;
}

.date-spinner-modal .modal-dialog {
  display: inline-block;
}

.modal-horizontal-container.date-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-horizontal-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-horizontal-container.date-time-time-container {
  padding-top: 40px;
}

.month-spinner-container, .day-spinner-container, .year-spinner-container,
.hour-spinner-container, .minute-spinner-container, .meridian-indicator-spinner-container {
  .spinner {
    // min-width will persist if auto width sets it to something smaller.
    min-width: 60px;
  }

  .spinner.east-west {
    min-width: 200px;
  }
}

.modal-horizontal-container .separator {
  display: inline-block;
  font-size: 14pt;
}

.modal-body.date .number-spinner-control,
 {
  height: 160;
  position: relative;
  width: 100%;
  background-color: @spinner-background-color;
  border: 1px solid @spinner-border-color;

  .container-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: transparent;    
  }
}

.month-spinner-container[data-format=MMMM] {
  .spinner {
    width: 160px;
  }

  .spinner.east-west {
    width: 300px;
  }
}

.month-spinner-container[data-format=MMM] {
  .spinner {
    width: 100px;
  }

  .spinner.east-west {
    width: 240px;
  }
}

.date-container, .time-container, .date-time-container {
  .item-template {
    font-size: 11pt;
  }

  .number-spinner-control div.overlay-top,
  .number-spinner-control div.overlay-bottom {
    height: 30px;
  }
}

/* Flows */
.modal-horizontal-container.flow-rtl {
  direction: rtl;
}
.modal-horizontal-container.flow-ltr {
  direction: ltr;
}
html[dir=rtl] .modal-horizontal-container.flow-calculate .separator {
  direction: rtl;
  unicode-bidi: bidi-override;
}