select.DropDownList {
  /*
    Make select hidden.  This way we can add it to the DOM first, so select2 can measure it
      and still not flash in the UI
  */
  visibility: hidden;
  max-width: 100%;
}

.widget .select2-container--default .select2-selection--single .select2-selection__arrow > b.glyphicon {
  top: 35%;
}

.DropDownList-Results {
  -ms-overflow-style: scrollbar;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;

    &-thumb {
      border-radius: 4px;
      background-color: #777777;
      -webkit-box-shadow: 0 0 1px #BBBBBB;
    }
  }

}
