.freetext-counter {
    font-style: italic;
    font-size: 75%;
}

textarea {
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;
    
        &-thumb {
          border-radius: 4px;
          background-color: #777777;
          -webkit-box-shadow: 0 0 1px #BBBBBB;
        }
    }
}