@baseUrl: './app/core/less';

@import (reference) '@{baseUrl}/mixins';

    .selected {
        fill: blue;
    }
    .unselected {
        fill: white;
    }



div#questionnaire.ImageWidget {
    position: absolute;

    /* respect the container div's padding */
    padding: inherit;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    section {
        height: 100%;

        .question {
            height: 100%;
            display: flex;
            flex-direction: column;

            .widget {
                position: relative;
                flex-grow: 100;

                /* handles its own touch events */
                touch-action:none;
                -ms-touch-action:none;

                .imageContainer {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    overflow: auto;

                    > svg {
                        display: block;
                    }

                    /* By default, stretch the skeleton object to the available height and width 50%, and center */
                    .imageSvg {
                        height: 90%;
                        max-width: 100%;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }
}
