@import (reference) "../bootstrap";

.matrix-container {
    /*
        This is applied to elements that may wrap individual flex table elements.
    */
    .wrapper {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-grow: 0;
        -webkit-flex-grow: 0;
        align-items: center;
    }

    /*
        This should be applied to any individual items to be rendered as table cells.
    */
    .text-4, .text-2, .item {
        flex-grow: 1;
        -webkit-flex-grow: 1;
    }

    .item {
        word-wrap: break-word;
        padding-right: 0px;
        width: 100%;
        border: none;
    }

    /*
        RadioButton style overrides specific to the MatrixRadioButton control.
    */
    div.RadioButton{
        .item.btn{
            background-color: transparent;
            border: none;
            text-align: center;
            padding-left: 0px;
            max-width: max-content;
            &.active, &:active{
                box-shadow: none;
            }
            &:active{
                div.icon {
                    .btn.active;
                }
            }
            /* Center the icon since we are hiding the label */
            div.icon {
                margin: auto;
                width: 40%;
            }

            input[type=radio] + div.icon:before {
                font-family: FontAwesome;
                line-height: 1;
                font-weight: 400;
                content: '\f10c';
                color: #0179A9;
            }

            input[type=radio]:checked + div.icon:before {
                content: '\f192';
                color: #0179A9;
                border: none;
            }
        }
    }

    /*
        Override any question displays (currently for LogPad)
    */
    div.question {
        display: flex;
        align-items: center;

        /*
            Default row colors
        */
       &.table-row{
           &:nth-child(even) {
                background-color: #fff;
           }
           &:nth-child(odd) {
               background-color: #FBFCFC;
           }
        }
    }

    //Applied to the parent element of the main matrix widget question to ensure the proper flex layout.
    .matrix-wrapper {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-grow: 0;
        -webkit-flex-grow: 0;
        align-items: center;
        justify-content: space-around;
    }

    //The controls the layout of each "row" in the flex table.
    .table-row {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 2px solid #e0e0e0;
        border-collapse: collapse;
        padding-top: 5px;

        /*
            Styles the header elements in the matrix.
        */
        &.header {
            background-color: #F2F2F2;
            font-weight: bold;
            color: #000000;
            padding-top: 8px;
            padding-bottom: 8px;
            text-align:center;
        }

        /*
            Applied to the element that displays the question text for each question in the matrix.

            The width will be overridden by the flex property.
        */
        .matrix-question {
            width: 50%;
            flex: 0 0 50%;
        }
    }
}
