@import 'app/core/less/colors';

.modal-horizontal-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-spinner-modal, .multiple-choice-modal {
  /* text-align center, along with inline-block for child, will make this horizontally center */
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: none;
  width: 100%;
}

.number-spinner-modal.in, .multiple-choice-modal.in {
  display: block;
  position: absolute;
}

.number-spinner-modal .modal-dialog, .multiple-choice-modal .modal-dialog {
  display: inline-block;
}

.modal-body {
  display: block;
  width: 100%;
  text-align: center;
}

.modal-body.decimal .number-spinner-label {
  width: 120px;
  display: inline-block;
  text-align:center;
}

// hide content of modal until "reval" is added (after modal content is rendered)
.modal-dialog:not(.reveal) {
  .modal-body.number,
  .modal-body.date,
  .modal-body.date-time,
  .modal-body.time {
    visibility: hidden;
    + .modal-footer {
      visibility: hidden;
    }
  }
}

// make spinner normal on hover (hover happens at inappropriate times on some mobile browsers)
.spinner-btn, .spinner-btn:hover {
  color: @spinner-btn-color;
  background-color: @spinner-btn-bg-color;
  border-color: @spinner-btn-border-color;

  // whether horizontal or vertical, make the button 60px out from the spinner
  flex-basis: 60px;
  flex-grow: 0;
  flex-shrink: 0;
}

.spinner-btn:disabled, 
.spinner-btn:active:disabled,
.spinner-btn:hover:disabled,
.spinner-btn.active:disabled {
  color: @spinner-btn-disabled-color;
  background-color: @spinner-btn-disabled-bg-color;
  border-color: @spinner-btn-disabled-border-color;
}

.spinner-btn:focus {
  color: @spinner-btn-focus-color;
  background-color: @spinner-btn-focus-bg-color;
  border-color: @spinner-btn-focus-border-color;
}

.spinner-btn:active, .spinner-btn.active,
.spinner-btn:active:focus {
  color: @spinner-btn-active-color;
  background-color: @spinner-btn-active-bg-color;
  border-color: @spinner-btn-active-border-color;
}

.number-spinner-container {
  .spinner {
    min-width: 120px;
  }
  .spinner.east-west {
    min-width: 200px;
  }
}

.number-spinner-control {
  height: 300px;
  position:relative;
  width:100%;
  background-color: @spinner-background-color;
  border: 1px solid @spinner-border-color;
  border-radius: 10px;
  overflow: hidden;
}

.number-spinner-control .container-wrapper {
  height: 100%;
  position:relative;
  width:100%;
  overflow:hidden;
  background-color: transparent;
}

.number-spinner-control .item-container{
  position: absolute;
  z-index: 100;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  background-color: transparent;
}
.number-spinner-control ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.number-spinner-control li {
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  font-size: 15pt;
  color: #808080;
  cursor: default;
}

.number-spinner-control li.selected {
  color: white;
  background: transparent;
  border: none;
}

.number-spinner-control li.item.hidden-item {
  display: none;
}

.number-spinner-control div.buffer-item {
  background-color: transparent;
}

.number-spinner-control div.overlay-top,
.number-spinner-control div.overlay-middle,
.number-spinner-control div.overlay-bottom {
  background-color: #E8F6FB;
  opacity: .5;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 200;
  pointer-events: none;
}

.spinner.few-spinner-items {
  .number-spinner-control {
    border-radius: 0px;
    div.overlay-top,
    div.overlay-bottom {
      display: none;
    }
  }
}

.spinner.spinner-with-buttons {
  .container-wrapper {
    pointer-events: none;

    touch-action:none;
    -ms-touch-action:none;
  }
}

.number-spinner-control div.overlay-top {
  top: 0;
}

.number-spinner-control div.overlay-middle {
  background-color: #00ABD7;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 50;
}

.number-spinner-control div.overlay-bottom {
  bottom: 0;
}

.spinner {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;

  /* handles its own touch events */
  touch-action:none;
  -ms-touch-action:none;  
}

.spinner.east-west {
  flex-direction: row-reverse;
  padding-left: 10px;
  padding-right: 10px;
}

/**
 * RTL Support
**/

.modal-body.number {
  // Always force LtR for number display (even sign)
  direction: ltr;

  // Force LTR for the content as well
  // east-west buttons will change the parent to RTL
  // to put +/- in right places).
  li {
    direction: ltr;
  }
}

// Make east-west buttons follow RTL if appropriate
// Number spinner makes its parent LTR.
html[dir=ltr],
html[dir=rtl] .ignore-rtl {
  .spinner.east-west {
    direction: ltr;
  }
}
html[dir=rtl] {
  .spinner.east-west {
    direction: rtl;
  }
}

// never wrap the values in the spinner.
.spinner li {
  white-space: nowrap;
}