/*////////////////*/
/*BPI-SF*/
//Hacky fix for svg randomly adding top and botton margin.
//Following stack over flow link has answers:
//https://stackoverflow.com/questions/27175668/svg-images-rendering-with-huge-space-above-and-below-ios

#BPID {
    .BPID_BPID020, .BPID_BPID030, .BPID_BPID045, .BPID_BPID050, .BPID_BPID065, .BPID_BPID100, .BPID_BPID110, .BPID_BPID125, .BPID_BPID130, .BPID_BPID145 {
        padding-bottom: 2px !important;
    }

    .BPID_BPID300, .BPID_BPID310, .BPID_BPID320, .BPID_BPID330, .BPID_BPID340, .BPID_BPID350, .BPID_BPID360, .BPID_BPID370, .BPID_BPID380, .BPID_BPID390, .BPID_BPID400, .BPID_BPID410 {
        padding-bottom: 1px !important;
    }

    .BPID_BPID020_Q0_TEXT {
        margin-bottom: 0px !important;
    }

    svg {
        height: 380px !important;
    }

    #BPID_BPID020_Q0 svg {
        height: 310px !important;
    }

    #BPID_BPID100_Q0 svg {
        height: 310px !important;
    }

    svg path.body-part-selected {
        fill: #2baeeb !important;
    }

    svg rect.worst-pain-selected {
        fill: #ff0000;
        fill-opacity: 1;
    }

    .marker-left .marker-text {
        text-align: right !important;
    }

    .marker-right .marker-text {
        text-align: left !important;
    }

    #BPID_BPID420_Q0.question {
        text-align: center !important;
    }

    #BPID_BPID020_Q0, #BPID_BPID030_Q0, #BPID_BPID045_Q0,
    #BPID_BPID050_Q0, #BPID_BPID065_Q0, #BPID_BPID100_Q0,
    #BPID_BPID110_Q0, #BPID_BPID125_Q0, #BPID_BPID130_Q0,
    #BPID_BPID145_Q0 {
        div.widget svg rect {
            pointer-events: none;
        }
    }
}

body:lang(cs-CZ) {
    #BPID_BPID020_Q0, #BPID_BPID100_Q0, #HHTM162_Q1 {

        #txtBack_R {
            transform: translateX(-9px);
        }
    }
    #HHTM166_Q1 {

        #txtBack_R {
            transform: translateX(-9px);
        }
    }
}

body:lang(ja-JP) {

    #BPID_BPID050_Q0, #BPID_BPID130_Q0, #HHTM165_Q1 {
        text {
            font-size: 18px !important;
        }
        #txtBack {
            transform: translateY(3px);
        }
    }
}

body:lang(es-US),
body:lang(es-ES) {

    #BPID_BPID020_Q0, #BPID_BPID100_Q0, #HHTM162_Q1 {
        text {
            font-size: 17px !important;
        }
        #txtFront_R {
            transform: translateX(-5px);
        }
        #txtBack_L {
            transform: translateX(10px);
        }
    }

    #BPID_BPID045_Q0, #BPID_BPID065_Q0, #BPID_BPID125_Q0, #HHTM164_Q1, #HHTM166_Q1 {
        text {
            font-size: 17px !important;
        }
        #txtFront_R {
            transform: translateX(-8px);
        }
    }

    #BPID_BPID065_Q0, #BPID_BPID145_Q0, #HHTM164_Q1, #HHTM166_Q1 {
        #txtBack_L {
            transform: translateX(20px);
        }
    }

    #BPID_BPID050_Q0, #BPID_BPID130_Q0, #HHTM163_Q1, #HHTM165_Q1 {
        text {
            font-size: 17px !important;
        }
        #txtBack {
            transform: translateY(3px);
        }
        #txtBack_L {
            transform: translateX(10px);
        }
    }

    #BPID #footer {
        margin-top: -10px !important;
    }
}

body:lang(pt-BR) {
    #BPID_BPID020_Q0, #BPID_BPID100_Q0 {
        text {
            font-size: 13px !important;

        }
        #txtBack_L {
            transform: translateX(40px);
        }

        #txtFront_R {
            transform: translateX(-8px);
        }

        #txtBack_R {
            transform: translateX(-9px);
        }

        #txtFront_L {
            transform: translateX(46px);
        }
    }

    #BPID_BPID030_Q0, #BPID_BPID110_Q0 {
        text {
            font-size: 13px !important;
        }

        svg {
            transform: translateX(-15px);
            overflow: visible !important;
        }

        #txtFront_R {
            transform: translateX(-7px);
        }

        #txtFront_L {
            transform: translateX(53px);
        }

    }

    #HHTM163_Q1  {
        text {
            font-size: 18px !important;
        }

        svg {
            transform: translateX(-15px);
            overflow: visible !important;
        }

    }

    #BPID_BPID050_Q0, #BPID_BPID130_Q0 {
        text {
            font-size: 13px !important;
        }

        #txtBack_R {
            transform: translateX(-4px);
        }

        #txtBack_L {
            transform: translateX(34px);
        }

    }

    #HHTM165_Q1 {
        text {
            font-size: 18px !important;
        }

        #txtBack {
            transform: translateY(5px);
        }

    }

    #BPID_BPID045_Q0, #BPID_BPID125_Q0 {
        text {
            font-size: 13px !important;
        }

        #txtFront_R {
            transform: translate3d(10px, 111px, 0);
        }

        #txtFront_L {
            transform: translate3d(36px, 112px, 0px);
        }

        svg {
            overflow: visible !important;
            transform: translateX(11px);
        }
    }

    #HHTM164_Q1 {

        #txtFront_R {
            transform: translate3d(10px, 111px, 0);
        }

        #txtFront_L {
            transform: translate3d(0, 111px, 0px);
        }

        svg {
            overflow: visible !important;
            transform: translateX(11px);
        }
    }

    #BPID_BPID065_Q0, #BPID_BPID145_Q0 {
        text {
            font-size: 12px !important;
        }

        #txtBack_L {
            transform: translate3d(27px, 120px, 0);
        }

        #txtBack_R {
            transform: translate3d(10px, 121px, 0);
        }

        svg {
            transform: translateX(18px);
            overflow: visible !important;
        }
    }

}

body:lang(nl-NL) {

    #HHTM166_Q1 {

        svg {
            overflow: visible !important;
        }

    }

}

body:lang(es-CL) {

    #BPID_BPID020_Q0, #BPID_BPID100_Q0, #HHTM162_Q1 {

        svg {
            overflow: visible !important;
        }

        #txtFront_R {
            transform: translateX(-5px);
        }

        #txtBack_L {
            transform: translateX(7px);
        }

        #txtBack_R {
            transform: translateX(-10px);
        }

    }

    #BPID_BPID030_Q0, #BPID_BPID110_Q0, #HHTM163_Q1 {
        svg {
            transform: translateX(-10px);
            overflow: visible !important;
        }
    }

    #BPID_BPID050_Q0, #BPID_BPID130_Q0, #HHTM165_Q1 {
        svg {
            overflow: visible !important;
        }
    }

    #BPID_BPID045_Q0, #BPID_BPID125_Q0, #HHTM164_Q1 {
        #txtFront_R {
            transform: translate3d(10px, 111px, 0);
        }

        #txtFront_L {
            transform: translate3d(-15px, 112px, 0px);
        }

        svg {
            overflow: visible !important;
            transform: translateX(11px);
        }
    }

    #BPID_BPID065_Q0, #BPID_BPID145_Q0, #HHTM166_Q1 {
        #txtBack_L {
            transform: translate3d(-10px, 120px, 0);
        }

        #txtBack_R {
            transform: translate3d(10px, 121px, 0);
        }

        svg {
            transform: translateX(18px);
            overflow: visible !important;
        }
    }

}

body:lang(sk-SK) {
    #BPID_BPID020_Q0, #BPID_BPID100_Q0, #HHTM162_Q1 {
        text#txtBack_L {
            transform: translateX(-11px);
        }

        text#txtBack_R {
            transform: translateX(-10px);
        }
    }

    #BPID_BPID050_Q0, #BPID_BPID130_Q0, #HHTM165_Q1 {
        svg {
            overflow: visible !important;
        }

        text#txtBack_L {
            transform: translateX(-14px);
        }

        text#txtBack_R {
            transform: translateX(-6px);
        }
    }

    #BPID_BPID065_Q0, #BPID_BPID145_Q0, #HHTM166_Q1 {
        svg {
            overflow: visible !important;
        }

        text#txtBack_L {
            transform: translateX(-14px);
        }

        text#txtBack_R {
            transform: translateX(-6px);
        }
    }
}


:lang(es-ES),
:lang(es-US),
:lang(pt-PT),
:lang(de-DE){

    #BPID_BPID020_Q0,
    #BPID_BPID100_Q0 {
        svg {
            height: 18em !important;
        }
        text#txtFront,
        text#txtFront_L,
        text#txtFront_R,
        text#txtBack,
        text#txtBack_L,
        text#txtBack_R {
            font-size: 16px !important;
        }
    }

    #BPID_BPID030_Q0,
    #BPID_BPID110_Q0,
    #BPID_BPID045_Q0,
    #BPID_BPID125_Q0 {
        svg {
            height: 21em !important;
        }
        text#txtFront,
        text#txtFront_L,
        text#txtFront_R {
            font-size: 16px !important;
        }
    }

    #BPID_BPID050_Q0,
    #BPID_BPID130_Q0 {
        svg {
            height: 21em !important;
        }
        text#txtBack,
        text#txtBack_L,
        text#txtBack_R {
            font-size: 16px !important;
        }
    }

    #BPID_BPID065_Q0,
    #BPID_BPID145_Q0 {
        svg {
            height: 21em !important;
        }
        text#txtBack,
        text#txtBack_L,
        text#txtBack_R {
            font-size: 14px !important;
        }
    }
}

:lang(es-US) {

    .BPID_BPID350,
    .BPID_BPID360,
    .BPID_BPID370,
    .BPID_BPID380,
    .BPID_BPID390,
    .BPID_BPID400,
    .BPID_BPID410 {

        margin-bottom: -2em;

        .NumericRatingScale div.marker-text {
            font-size: 15px;
        }
    }
}

:lang(it-IT) {
    #BPID_BPID045_Q0,
    #BPID_BPID125_Q0 {
        svg {
            overflow: visible !important;
        }
    }
}

:lang(fr-CA),
:lang(fr-BE),
:lang(fr-FR) {
    //margin-top: 0px;
    #BPID_BPID020_Q0,
    #BPID_BPID100_Q0 {
        svg {

            height: 18em !important;

            #txtBack_L {
                transform: translate(-0.7em);
            }
        }
    }

    #BPID_BPID050_Q0,
    #BPID_BPID030_Q0,
    #BPID_BPID045_Q0,
    #BPID_BPID065_Q0,
    #BPID_BPID110_Q0,
    #BPID_BPID130_Q0,
    #BPID_BPID145_Q0,
    #BPID_BPID125_Q0 {
        svg {
            height: 21em !important;

            #txtBack_L {
                transform: translate(-0.7em);
            }
            #txtFront_R,
            #txtFront_L,
            #txtFront,
            #txtBack_R,
            #txtBack_L,
            #txtBack {
                font-size: 16px !important;
            }
        }
    }


    .HHTM162,
    .HHTM163,
    .HHTM164,
    .HHTM165,
    .HHTM166 {
        svg {

            height: 21em !important;

            #txtFront_R,
            #txtFront_L,
            #txtFront,
            #txtBack_R,
            #txtBack_L,
            #txtBack {
                font-size: 16px !important;
            }
        }
    }
}


/*
:lang(es-ES),
:lang(es-CL),
:lang(es-US),
:lang(pt-PT),
:lang(pt-BR),
:lang(de-DE){

    #BPID_BPID020_Q0,
    #BPID_BPID100_Q0 {
        svg {
            height: 18em !important;
        }
        text#txtFront,
        text#txtFront_L,
        text#txtFront_R,
        text#txtBack,
        text#txtBack_L,
        text#txtBack_R {
            font-size: 16px !important;
        }
    }

    #BPID_BPID030_Q0,
    #BPID_BPID110_Q0,
    #BPID_BPID045_Q0,
    #BPID_BPID125_Q0 {
        svg {
            height: 21em !important;
        }
        text#txtFront,
        text#txtFront_L,
        text#txtFront_R {
            font-size: 16px !important;
        }
    }

    #BPID_BPID050_Q0,
    #BPID_BPID130_Q0 {
        svg {
            height: 21em !important;
        }
        text#txtBack,
        text#txtBack_L,
        text#txtBack_R {
            font-size: 16px !important;
        }
    }

    #BPID_BPID065_Q0,
    #BPID_BPID145_Q0 {
        svg {
            height: 21em !important;
        }
        text#txtBack,
        text#txtBack_L,
        text#txtBack_R {
            font-size: 14px !important;
        }
    }
}
*/
