div#questionnaire.EQ5D,
div.questionnaire.EQ5D {
    position: absolute;

    /* respect the container div's padding */
    padding: inherit;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .question-header {
        display: none;
    }

    section {
        height: 100%;

        .question {
            height: 100%;
            display: flex;
            flex-direction: column;

            .widget {
                position: relative;
                flex-grow: 100;

                #parentContainer {
                    position:absolute;

                    padding: inherit;

                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                #instructions {
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: stretch;
                }

                #left {

                    padding-top: 35%;

                    padding-right: 5px;

                    display: inline-flex;
                    flex-direction: column;
                    align-items: stretch;
                    align-content: space-between;

                    flex: 1;

                    /* Text in logpad, spacer in sitepad */
                    #logpadInstructionTextDIV, #spacer {
                        flex: 0 !important;
                        display: inline;
                    }

                    #answerDIV {
                        text-align: center;
                        height: 60px;
                        background-color: black;
                        width: 90px;
                        color: white;
                        line-height: 60px;
                        margin-left: auto;
                        margin-right: auto;
                        font-size: 1.5em;
                    }

                    #yhtDIV {
                        display: inline;
                        text-align: center;
                        flex: 1;
                        padding-top: 10px;
                    }

                    canvas {
                        display: block;
                        position: absolute;

                        padding: inherit;

                        top: 0;
                        left: 0;
                    }
                }

                #right {
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    flex: 1;

                    #middle {
                        flex-grow: 0 !important;;
                        position: relative;

                        canvas {
                            display: block;

                            padding: inherit;

                            position: absolute;
                            top: 0;
                            left: 0;

                            /* handles its own touch events */
                            touch-action:none;
                            -ms-touch-action:none;
                        }
                        height: 310px !important;

                        #topper {
                            height : 30px;
                        }

                        #topper, #bottom {
                            margin: 0;
                        }
                    }
                }

            }
        }
    }
    .EQ5D5L_EQ080_5L_Q0 {
        font-size: 0.85em;
        line-height: 1.00em;
    }
    .screen .EQ5D5L_EQ080_5L_Q0_TEXT {
        display: inline-flex;
        flex-direction: column;
        align-items: stretch;
        align-content: space-between;
        flex: 1;
        width: 50%;
    }
}

.eq5d-sp-outer-container {
    display: flex;
    flex-direction: column;
}

.eq5d-container {
    display: flex;
    flex-grow: 200;
}

.eq5d-left-col {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 2;
}

.eq5d-right-col {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

.eq5d-instruction-text {
    margin: 0px;
}

.eq5d-anchor-text {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.eq5d-break-text {
    word-break: break-all;
}

.eq5d-main-canvas {
    background-color: #fff;
}

#EQ5D5L {
    .instructionTextDIV {
        display: inline;
    }

    .innerDIVS {
        display: inline;
    }
}

div#questionnaire.EQ5D section .question .widget #left #logpadInstructionTextDIV {
    padding-bottom: 10px;
}
