<!-- DASHBOARD TEMPLATE
	@param deactivated Text to notify subject their device has been activated elsewhere
	@param header Displayed application header.
	@param noDiariesTitle The title text to display when there are no diaries
	@param transmissionCount The number of pending transmissions
	@param transmissionIcon The icon used along with pending transmissions
	@param noDiariesAvailable The message to display when there are no diaries
-->
<script id="dashboard-template" type="text/template">

	<header class="navbar navbar-inverse navbar-static-top navbar-primary">
		<div class="container-fluid">

			<div class="row">
				<!-- Header -->
				<div class="col-xs-10 text-center">
					<h4 class="navbar-text">
						<img src="./media/images/logo.png" height="25px" />
						{{ header }}
					</h4>
				</div>

				<!-- Toolbox -->
				<div class="col-xs-2">
					<span id="application-toolbox" class="pull-right">
						<span class="fa fa-bars"></span>
					</span>
				</div>

			</div>

		</div>
	</header>

	<section id="dashboard-subheader" class="navbar navbar-default navbar-secondary">

		<div class="container-fluid">
			<div class="row">
				<div id="timeTravel" class="col-xs-6">
					<span class="ui-title"></span>
				</div>

			</div>
		</div>
	</section>

	<section class="container-fluid navbar-secondary">
        <div class="row">

            <div class="top-padding">
                <div id="indicators" class="col-xs-9"></div>

                <div class="col-xs-3 text sync-item" id="sync-button">
                	<span id="pending-transmission-count">{{ count }}</span>
                    <span class="glyphicon glyphicon-refresh"></span><br />
                </div>
            </div>
        </div>
    </section>



	<div id="dashboard-content" class="container-fluid">

		<div id="inactiveMsg"  class="hidden" class="content-padded">
			<h2 class="center"> {{ noDiariesTitle }}</h2>
			<h4>{{ deactivated }}</h4>
		</div>

		<div id="indicators" class="content-padded"></div>

		<div id="noDiariesMsg"  class="hidden content-padded">
			<h4 class="center">{{ noDiariesAvailable }}</h4>
		</div>

		<div id="questionnaires"></div>

	</div>

</script>
