@baseUrl: './app/core/less';
@import (reference) '@{baseUrl}/utilities/flexbox';
@import (reference) '@{baseUrl}/style';
#console-log {
    .navbar {
        margin-bottom: 20px;
    }
    > .container-fluid {
        overflow-y: auto;
    }

    #user-console-log_wrapper {
        padding-bottom: 20px;
        div.dataTables_scrollHead table.table-bordered {
            @media all and (max-width:320px) {
                max-width: 290px !important;
            }
        }
        table.collapsed {
            tbody, thead {
                tr{
                    > td{
                        &:first-child {
                            padding-left: 30px;

                            @media all and (max-device-width: 767px) and (max-resolution: 4dppx) {
                                &:before {
                                    font-size: 21px;
                                    line-height: 9px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #dt-head{
            select.input-sm {
                line-height: 23px;
                -webkit-appearance: menulist-button;
            }
            label {
                width: auto;
            }
            .buttons-colvis {
                display: none;
                @media all and (min-width: 768px) {
                    display: inline-block;
                }
            }
            .dataTables_filter {
                input{
                    height: 32px;
                }
            }
            @media all and (min-width: 768px) {
                .flexbox-container;
                .dt-display{
                    width: 40%;
                    flex-grow: 1;
                }
                #table-search-buttons {
                    .flexbox-container;
                    flex-wrap: wrap;
                    flex-direction: row-reverse;
                    width: 60%;
                    flex-grow: 2;
                    label {
                        width: auto;
                    }
                    .dt-buttons {
                        float:none;
                        margin-left:1rem;
                    }
                }
            }
        }
        @media all and (max-width: 767px) {
            .pagination {
                li a {
                    padding: 6px 8.5px;
                }
            }
        }
        tr {
            > td{
                word-break: break-word;
            }
            > td, > th {
                font-size: 12px;
                padding: .5rem;
                @media all and(max-width:320px) {
                    width:50%!important;
                }
                @media all and (min-width:360px) {
                    min-width: 6rem;
                }
                @media all and(max-width:600px) {
                    width: 40% !important;
                }
                &:first-child {
                    @media all and(max-width:320px) {
                        width: 50%!important;
                    }
                    @media all and(max-width:600px) {
                        padding-left: 30px;
                        width: 60% !important;
                    }
                }
            }
        }
    }
}
