/**
 * Styles specifically for info module (cards used in "AboutView").
*/
.info-content {
    .def-group {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        .def-title {
            text-align: end;
            font-weight: bold;
            flex: 0 0 160px;
            word-wrap: break-word;
        }
    
        .def-text {
            flex: 1 0 120px;
            word-wrap: break-word;
        }
    }

}


html,
html[dir='rtl'] .ignore-rtl {
    .info-content {
        .def-text {
            margin-left: 20px;
            margin-right: 0;
        }
    }
}

html[dir='rtl'] {
    .info-content {
        .def-text {
            margin-left: 0;
            margin-right: 20px;
        }
    }
}