#setTimeModal {
    .ui-datebox-container {
        .select2-selection--single .select2-selection__rendered {
            line-height: 34px;
        }
        .select2-container--open .select2-dropdown {
            left: -1px;
            top: -1px;
        }

    }
    border-radius: 0;
}
