@import (reference) '../../../core/less/mixins';
div#skip-reason-content {
    div.skip-reason-header {
        background-color: #cccccb;
        padding-left: 10px;
    }
    div.col-xs-9 {
        padding: 0;
        border: black 1px solid;
    }
    ul.skip-reason-answers {
        list-style: none;
        padding: 0;
        margin: 0;
        .font-size(19);
        li {
            padding-left: 10px;
        }
        li.selected {
            background: #337dbc !important;
            color: #fff !important;
        }
        li:nth-child(even) {
            background-color: #efeeee;
        }

    }
}
