<!DOCTYPE html>
<html>
    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <meta http-equiv="Content-Security-Policy" content="default-src *; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

        <link rel="apple-touch-icon" href="../media/images/icon.png" />

        <title>SitePad App</title>

        <% include ./scripts.ejs %>
    </head>
    <body>
        <div id="application"></div>

        <% include ../trainer/sitepad/templates/templates %>
        <% include ../../app/sitepad/screenshot/templates/screenshot-tpl %>

        <!-- Core Templates -->
        <% include ../core/templates/qrcode %>
        <% include ../core/templates/spinner %>
        <% include ../core/templates/confirm %>
        <% include ../core/templates/notify %>
        <% include ../core/templates/questionnaireCompletion %>
        <% include ../core/templates/reset-secret-question %>
        <% include ../core/templates/reset-password %>
        <% include ../core/templates/forgot-password %>
        <% include ../core/templates/change-temporary-password %>
        <% include ../core/templates/unlock-code %>
        <% include ../core/templates/blank %>

        <!-- SPA TEMPLATES -->

        <% include ./templates/site-selection %>
        <% include ./templates/login %>
        <% include ./templates/home %>
        <% include ./templates/context %>
        <% include ./templates/settings %>
        <% include ./templates/visit-gateway %>
        <% include ./templates/edit-patient %>
        <% include ./templates/deactivate-patient %>
        <% include ./templates/site-user-login %>
        <% include ./templates/site-users %>
        <% include ./templates/form-gateway %>
        <% include ./templates/questionnaire %>
        <% include ./templates/about %>
        <% include ./templates/console-log %>
        <% include ./templates/customer-support %>
        <% include ./templates/unlock-code %>
        <% include ./templates/set-time-zone-activation %>
        <% include ./templates/mode-selection %>
        <% include ./templates/language-selection %>
        <% include ./templates/end-user-license %>
        <% include ./templates/set-password %>
        <% include ./templates/secret-question %>
        <% include ./templates/account-configured %>
        <% include ./templates/user-name-login %>
        <% include ./templates/language-login-option %>
    </body>
</html>
