<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.ERTMOD.css" type="text/css" />
<link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="./css/base.css" type="text/css" />
<link rel="stylesheet" href="./lib/select2/css/select2.css" type="text/css" />
<link rel="stylesheet" href="./lib/select2/css/select2-custom.css" type="text/css" />
<link rel="stylesheet" href="./lib/datebox/css/datebox-bootstrap.ERTMOD.css" type="text/css" />
<link rel="stylesheet" href="./lib/jQueryUI/css/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="./lib/TouchPDFViewer/jquery.touchPDF.css" type="text/css" />
<link rel="stylesheet" href="./lib/datatables.net-bs/css/dataTables.bootstrap.css" type="text/css" />
<link rel="stylesheet" href="./lib/datatables.net-buttons-dt/css/buttons.dataTables.css" type="text/css" />
<link rel="stylesheet" href="./lib/datatables.net-fixedheader-dt/css/fixedHeader.dataTables.css" type="text/css" />
<link rel="stylesheet" href="./lib/datatables.net-responsive-dt/css/responsive.dataTables.css" type="text/css" />

<!-- START:Stylesheets -->
<!-- END:Stylesheets -->

<script src="cordova.js"></script>
<script src="./lib/winstore-jscompat.js"></script>
<script src="./lib/jsonh.js"></script>
<script src="./lib/jQuery/jquery-2.0.3.js"></script>
<script src="./lib/jQuery/jquery-migrate-1.2.1.js"></script>
<script src="./lib/jquery-qrcode/jquery.qrcode.min.js"></script>
<script src="./lib/datatables.net/js/jquery.dataTables.js"></script>
<script src="./lib/datatables.net-bs/js/dataTables.bootstrap.js"></script>
<script src="./lib/datatables.net-fixedheader/js/dataTables.fixedHeader.js"></script>
<script src="./lib/datatables.net-buttons/js/dataTables.buttons.js"></script>
<script src="./lib/datatables.net-responsive/js/dataTables.responsive.js"></script>
<script src="./lib/jszip.min.js"></script>
<script src="./lib/datatables.net-buttons/js/buttons.html5.js"></script>
<script src="./lib/datatables.net-buttons/js/buttons.flash.js"></script>
<script src="./lib/datatables.net-buttons/js/buttons.colVis.js"></script>
<script src="./lib/noty/jquery.noty.PHTMOD.js"></script>
<script src="./lib/noty/layouts/top.js"></script>
<script src="./lib/noty/themes/default.js"></script>
<script src="./lib/md5-min.js"></script>
<script src="./lib/sha-512.js"></script>
<script src="./lib/gibberish-aes-1.0.0.min.js"></script>
<script src="./lib/jSignature.ERTMOD.js"></script>
<script src="./lib/momentjs/moment-with-locales.js"></script>
<script src="./lib/momentjs/moment-timezone-with-data-2012-2022.js"></script>
<script src="./lib/xregex-min.js"></script>

<script src="./lib/q/q.ERTMOD.js"></script>
<script src="./lib/regenerator/runtime.js"></script>
<script src="./lib/bootstrap/js/bootstrap.js"></script>
<script src="./lib/select2/js/select2.ERTMOD.js"></script>
<script src="./lib/jQueryUI/js/jquery.ui.widget.js"></script>
<script src="./lib/datebox/js/datebox-bootstrap.ERTMOD.js"></script>
<script src="./lib/iscroll-master/build/iscroll.js"></script>

<script src="./lib/TouchPDFViewer/jquery.mousewheel.js"></script>
<script src="./lib/TouchPDFViewer/jquery.panzoom.js"></script>
<script src="./lib/TouchPDFViewer/jquery.touchPDF.js"></script>
<script src="./lib/TouchPDFViewer/jquery.touchSwipe.js"></script>
<script src="./lib/TouchPDFViewer/pdf.compatibility.js"></script>
<script src="./lib/TouchPDFViewer/pdf.js"></script>
<script src="./lib/TouchPDFViewer/pdf.worker.js"></script>
<script src="./lib/aws/aws-sdk-2.48.0.min.js"></script>

<!-- UNDERSCORE/LODASH -->
<script src="./lib/underscore/underscore.min.js"></script>
<script>
    _.templateSettings = {
        evaluate: /\{\[([\s\S]+?)\]\}/g,
        interpolate: /\{\{(.+?)\}\}/g
    };
</script>

<!-- BACKBONE -->
<script src="./lib/backbone/backbone.js"></script>

<!-- Application -->
<script src="./application.js"></script>
<script src="./coreSettings.js"></script>
<script src="./Errors.js"></script>

<script type="text/javascript">
    LF.coreVersion = '<%= version %>';
    LF.appName = 'SitePad App';
    LF.apiBase = '/api';
</script>

<!-- Wrapper -->
<script src="./wrapperjs/Wrapper.js"></script>
<script src="./wrapperjs/Alarms.js"></script>
<script src="./wrapperjs/eSense.js"></script>

<!-- Runtime bundle -->
<script src="./runtime.bundle.js"></script>

<script src="./resources/nls.js"></script>

<!-- START:Study --><!-- END:Study -->
