@baseUrl: './app/core/less';
@import (reference) '@{baseUrl}/mixins';
@import (reference) '@{baseUrl}/colors';
@import (reference) './base';

.navbar-inverse {
    background-color: #024e80 !important;
    border-bottom: none;
    .navbar-text { color: #FFF; }
}
.trainer-navbar-inverse {
    border: 1px solid #035f8f;
    background: #024e80;
    color: #ffffff;
    font-weight: bold;
    text-shadow: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #78549f), to( #552988));
    background-image: -webkit-linear-gradient( #78549f, #552988);
    background-image:    -moz-linear-gradient( #78549f, #552988);
    background-image:     -ms-linear-gradient( #78549f, #552988);
    background-image:      -o-linear-gradient( #78549f, #552988);
    background-image:         linear-gradient( #78549f, #552988);
    background: #024e80 repeating-linear-gradient( 45deg, #024e80, #024e80 10px, #035f8f 10px, #035f8f 20px);
}

.navbar-btn-inverse {
    background-color: #024e80 !important;
    color: #FFF;
    border: none;
}

// Patient Management
.question-title-large {
    font-size: 24px;
    border-bottom: solid black 1px;
}

// Adjust the height and font (DE16277) of the top-level elements
html, body, #application {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
}

.intro {
    text-align: center;
    color: #FFF
}

.navbar h4.navbar-text img {
    margin-top: -4px;

    html[dir='ltr'] & {
        padding-right: 3px;
    }

    html[dir='rtl'] & {
        padding-left: 3px;
    }
}

.result-select-login-image {
    padding-top: 5px;

    html[dir='ltr'] & {
        padding-left: 10px;
    }

    html[dir='rtl'] & {
        padding-right: 10px;
    }
}

#modal.skipVisit {
    .modal-header {
        color: white;
        background-color: #ef4323;
    }
    .modal-body {
        max-height: 60vh;
        overflow-y: auto;
        touch-action: initial;
        -ms-touch-action: initial;
    }
}

.text-underline {
    text-decoration:underline;
}

// Setup User View [Activation]
#setup-user-view,
#unlock-code-view,
#set-tz-activation-view,
#site-selection-view,
#login-view,
#language-selection-view,
#mode-selection-view,
#context-switching-view,
#set-tz-view,
#end-user-license-view,
#test-connection-view,
#First_Site_User,
#summary-screen-view,
.activation {
    background: inherit;
    background: #046090 url('../media/images/bg-white.png') bottom left no-repeat;
    min-height:  100%;
    .table-wrapper {
        background: rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 20px;
    }
    table { background-color: #fff; }
    p {
        color: #fff;
    }
    .navbar { margin-bottom: 0px !important; }
    #content {
        padding-top: 20px;
    }
    p.lead { color: @white; }
    form {
        background: rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 20px;
        .help-block { color: #fff; }
        label { color: #fff;}
    }
}

#end-user-license-view {
    #end-user-license-wrapper {
        background-color: #fff;
    }
    p {
        color: #000;
        padding-left: 15px;
        padding-right: 15px;
    }
    p:last-child {
        padding-bottom: 10px;
    }
}

#First_Site_User {
    label {
        color: #fff;
    }
    .affidavit-text {
        color: #fff;
    }
}

#FIRST_USER_USERNAME, #FIRST_USER_PASSWORD {
    width:49%;
    float:left;

    html[dir='rtl'] & {
        float: right;
        text-align: right;
    }
}

#FIRST_USER_LANG, #FIRST_USER_PASSWORD_CONFIRM {
    width:49%;
    float:right;

    html[dir='rtl'] & {
        float: left;
        text-align: right;
    }
}

#FIRST_USER_LANG, #FIRST_USER_SECRET_QUESTION {
    .select2-selection {
        height:40px;
    }

    .select2-selection__rendered {
        line-height: 36px;
    }

    .select2-selection__arrow {
        height: 36px;
    }
}

#FIRST_USER_SECRET_QUESTION, #FIRST_USER_UNLOCK_CODE {
    clear: both;
}

#summary-screen-view {
    #summaryScreenForm {
        color: #fff;
        div.row.form-group div {
            html[dir='rtl'] & {
                float: right;
                text-align: right;
            }
        }
        .fa {
            margin-right: 10px;
            html[dir='rtl'] & {
                margin-right: 0;
                margin-left: 10px;
            }
            &.fa-times-circle {
                color: @red-500;
            }
            &.fa-check-circle {
                color: @green-500;
            }
            &.fa-minus-square {
                color: @grey-dark;
            }
        }
    }
}

#home-view,
#site-users-view,
#visit-gateway,
#begin-visit {
    @row-01-height: 89px;

    height: 100%;

    .navbar {
        margin-bottom: 0px;
    }

    .snap-bottom {
        position: absolute;
        top: @row-01-height + @nav-bar-height;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .fill-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    .row-01 {
        height: @row-01-height;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex: 1 auto;
        line-height:1.1;

        > div {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-size: 2.57em;

            &#back,
            &#transmit {
                justify-content: center;
                align-content: center;
                cursor: pointer;

                &[disabled] {
                    color: @grey;
                    pointer-events: none;
                }
            }

            &#content-header {
                font-weight: 500;
            }
        }

        .fa-refresh {
            &.icon {
                &:extend(#login-view .icon all);
            }
        }

        .col-xs-1 {
            background-color: @blue-offset;
            color: @white;
            word-wrap: break-word;
            button {
                background-color: transparent;
                border: none;
            }
        }

        .col-xs-2 {
            background-color: @blue-offset;
            color: @white;
            word-wrap: break-word;
        }

        .col-xs-3,
        .col-xs-4 {
            background-color: @gray-darker;
            color: @white;
            padding: 10px;
            word-wrap: break-word;
            .site-image {
                padding-top: 10px;
            }
            .site-text {
                font-size: 16px;
                padding-top: 12px;
                line-height: 24px;

                html[dir='ltr'] & {
                    padding-left: 10px;
                }

                html[dir='rtl'] & {
                    padding-right: 10px;
                }
            }
        }

        .col-xs-6,
        .col-xs-7,
        .col-xs-8 {
            background-color: @blue-light;
            color: @white;
            word-wrap: break-word;
            h1 {
                padding-top: 10px;
            }
        }
    }

    .row-02 {
        height: 100%;

        .col-xs-3,
        .col-xs-4 {
            background: @gray url('../media/images/bg3.png') bottom left no-repeat;
            height: 100%;
            .list-group {
                margin: 0px -15px;
                button {
                    &.list-group-item {
                        width: 100%;

                        html[dir='ltr'] & {
                            text-align: left;
                        }

                        html[dir='rtl'] & {
                            text-align: right;
                        }

                        background-color: transparent;
                        border: none;
                        border-top: 1px solid @gray-darker !important;
                        border-bottom: 1px solid @gray-darker !important;
                        color: @yellowgreen;
                        line-height: 2em;
                        i.fa {
                            color: @blue-light;
                            html[dir='ltr'] & {
                                margin-right: 7px;
                            }

                            html[dir='rtl'] & {
                                margin-left: 7px;
                            }
                            line-height: inherit;
                        }
                        i.fa-circle {
                            color: @yellowgreen;
                        }
                    }

                    &.no-action {
                        color: #ccc;
                    }

                    &:hover {
                        color: @blue-light;
                    }

                    &:disabled {
                        color: @gray-darker;
                        i.fa,.fa-circle {
                            color: @gray-darker;
                        }
                    }
                }
            }
            .list-group-item:first-child {
                border-radius: 0px;
            }
            .detail-list {
                background-color: @gray-darker;
                color: #777;
                padding: 10px;
                margin-right: -15px;
                margin-left: -15px;
                dl { overflow: hidden; }
                .dl-horizontal dt {
                    html[dir='ltr'] & {
                        text-align: left;
                    }

                    html[dir='rtl'] & {
                        text-align: right;
                    }
                    width: 50%;
                    text-overflow: ellipsis;
                    white-space: normal;
                }
                .dl-horizontal dd {
                    margin-left: auto;
                }
            }
        }

        .col-xs-8,
        .col-xs-9 {
            padding: 0px;
            th { background-color: @gray-light; }
            table.table {
                margin-bottom: 0;
            }
        }

        .col-xs-9 { height: 100%; }
    }

    tr.bg-info {
        background-color: @yellowgreen;
    }
    th, td {
        html[dir='ltr'] & {
            padding-left: 24px;
        }

        html[dir='rtl'] & {
            padding-right: 24px;
            text-align: right;
        }
    }

    .table-view {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }
}



#login-view,
#context-switching-view {
    a#forgot-password {
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
    }
    .select2-container, .select2-selection--single {
        height: 64px;
        line-height:26px;
    }
    .select2-selection__arrow {
        html[dir='ltr'] & {
            margin-left: -12px;
        }

        html[dir='rtl'] & {
            margin-right: -12px;
        }

        margin-top: 12px;
    }
    .text {
        color: white;
        font-size: 16px;
    }
    .text-right:not(.header-item) {
        padding-top: 15px;
    }

    .icon {
        font-size: 40px;
    }

    .selection-image {
        padding-top: 5px;
    }

    .selection-text {
        html[dir='ltr'] & {
            padding-left: 10px;
        }

        html[dir='rtl'] & {
            padding-right: 10px;
        }

        padding-top: 5px;
        line-height: 24px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: 62px;
        line-height:26px;
    }
}

/* admin user icon */
.admin-icon-base {
    background-image: url('../media/images/admin.png') !important;
    background-repeat: no-repeat !important;
    background-size: 46px 46px !important;
}

html[dir="ltr"] .admin-icon {
    .admin-icon-base;
    padding-left: 64px;
    background-position: left 5px center !important;
}

html[dir="rtl"] .admin-icon {
    .admin-icon-base;
    padding-right: 64px;
    background-position: right 5px center !important;
}

/* doctor user icon */
.doctor-icon-base {
    background-image: url('../media/images/doctor.png') !important;
    background-repeat: no-repeat !important;
    background-size: 46px 46px !important;
}

html[dir="ltr"] .doctor-icon {
    .doctor-icon-base;
    padding-left: 64px;
    background-position: left 5px center !important;
}

html[dir="rtl"] .doctor-icon {
    .doctor-icon-base;
    padding-right: 64px;
    background-position: right 5px center !important;
}

/* admin user icon */
.patient-icon-base {
    background-image: url('../media/images/patient.png') !important;
    background-repeat: no-repeat !important;
    background-size: 46px 46px !important;
}

html[dir="ltr"] .patient-icon {
    .patient-icon-base;
    padding-left: 64px;
    background-position: left 5px center !important;
}

html[dir="rtl"] .patient-icon {
    .patient-icon-base;
    padding-right: 64px;
    background-position: right 5px center !important;
}

.input-group {
    width:100%;
    border-radius: 4px;
}

.container-fluid:not(.home) > .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-item {
    color: white;
    font-size: 16px;
    button {
        background-color: transparent;
        border: none;
    }
    > span {
        display: flex;
        align-items: center;

        i {
            font-size: 32px;
            padding-top: 0;
            &:first-child {
                padding-right: 5px;
                html[dir='rtl'] & {
                    padding-left: 5px;
                    padding-right: unset;
                }
            }
            &:last-child {
                padding-left: 5px;
                html[dir='rtl'] & {
                    padding-right: 5px;
                    padding-left: unset;
                }
            }
        }
    }
}

span.header-settings,
span.header-help {
    cursor: pointer;
}

button#login {
    height: 64px;
    font-size: 1.5em;
}

span#pending-transmission-count {
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    padding-right: 3px;
}

.content-header {
    span.home-text {
        font-size: 36px;
        font-weight: 500;

        .fa.fa-home {
            margin-right: -8px;
        }

        html[dir='rtl'] & {
            .fa.fa-home {
                margin-right: unset;
                margin-left: -8px;
            }
        }
    }
}

#questionnaire :not(.EDIT_PATIENT, .ADD_PATIENT){
    .font-size(19);
    p, a, label, input {
        .font-size(19);
    }
}


#questionnaire {
    a {
        cursor: pointer
    }
}

// DE21798

#settings-view,
#about,
#customer-support,
#console-log {
    span#back {
        cursor: pointer;
    }
}

#forgot-password-page {
    a#unlock-code {
        cursor: pointer;
    }
}

@stepper-active-color: #0092bc;

.es-steps {
    margin: 0 20px 20px 20px;
    text-align: center;
    ol {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
    li {
        &:first-child:before {
            width: 50%;
            left: auto;
            right: 0;
            html[dir='rtl'] & {
                left: 0;
                right: auto;
            }
        }
        &:last-child:before {
            width: 50%;
            html[dir='rtl'] & {
                left: auto;
                right: 0;
            }
        }
        &:before {
            height: 5px;
            left: 0;
            top: 23px;
            vertical-align: middle;
            width: 100%;
            background-color: @stepper-active-color;
            content: "";
            display: block;
            position: absolute;
        }
        display: inline-block;
        padding-top: 4px;
        vertical-align: top;
        width: 20%;
        position: relative;
        .es-step {
            font-size: 28px;
            height: 42px;
            width: 42px;
            background-color: rgba(255, 255, 255, 0.85);
            border: 2px solid #fff;
            color: @stepper-active-color;
            display: inline-block;
            outline: 1px solid @stepper-active-color;
            position: relative;
            text-align: center;
            &.-es-active {
                background-color: @stepper-active-color;
                outline: 1px solid @stepper-active-color;
                color: white;
            }
        }
        label {
            display: block;
            margin: 5px 0 0 0;
            color: white;
            font-weight: normal;
            font-size: 12px;
        }
    }
}

li.-es-disabled {
    .es-step {
        color: #AAA;
        background-color: #CCC;
        outline: 1px solid #AAA;
        border: 2px solid #DDD;
    }
    label {
        color: #AAA !important;
    }
}
