
.date-spinner-modal {
  /* text-align center, along with inline-block for child, will make this horizontally center */
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  display: none;
}

.date-spinner-modal.in {
  display: block;
  position: absolute;
}

.date-spinner-modal .modal-dialog {
  display: inline-block;
}

.date-spinner-modal .modal-horizontal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-spinner-modal .modal-horizontal-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-horizontal-container.date-time-time-container {
  padding-top: 40px;
}

.month-spinner-container, .day-spinner-container, .year-spinner-container,
.hour-spinner-container, .minute-spinner-container, .meridian-indicator-spinner-container,
.month-spinner-container {
  width: 60px;

  display: inline-block;
}

.modal-horizontal-container .separator {
  display: inline-block;
  font-size: 14pt;
}

.date-spinner-modal .number-spinner-control,
 {
  height: 160px;
  position: relative;
  width: 100%;
  background-color: #E8F6FB;
  border: 1px solid #C4E6EF;
  border-radius: 10px;

  .container-wrapper {
    height: 160px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: transparent;    
  }
}

.date-spinner-modal .month-spinner-container[data-format=MMMM] {
  width: 160px;
}

.date-spinner-modal .month-spinner-container[data-format=MMM] {
  width: 100px;
}

.date-container, .time-container, .date-time-container {
  .item-template {
    font-size: 11pt;
  }

  .number-spinner-control div.overlay-top,
  .number-spinner-control div.overlay-bottom {
    height: 30px;
  }
}

/* Flows */
.date-spinner-modal.flow-rtl {
  direction: rtl;
}
.date-spinner-modal.flow-ltr {
  direction: ltr;
}
html[dir=rtl] .date-spinner-modal.flow-calculate .separator {
  direction: rtl;
  unicode-bidi: bidi-override;
}