.modal-horizontal-container {
  width: 100%;
  display: block;
  text-align: center;
}

.number-spinner-modal, .multiple-choice-modal {
  /* text-align center, along with inline-block for child, will make this horizontally center */
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: none;
  /* Always force LtR for number display (even sign) */
  direction: ltr;
  width: 100%;
}

.number-spinner-modal.in, .multiple-choice-modal.in {
  display: block;
  position: absolute;
}

.number-spinner-modal .modal-dialog, .multiple-choice-modal .modal-dialog {
  display: inline-block;
}

.modal-body {
  display: block;
  width: 100%;
  text-align: center;

  /* handles its own touch events */
  touch-action:none;
  -ms-touch-action:none;
}

.modal-body.decimal .number-spinner-label {
  width: 120px;
  display: inline-block;
  text-align:center;
}

.number-spinner-container {
  width: 120px;
  display: inline-block;
}

.number-spinner-control {
  height: 300px;
  position:relative;
  width:120px;
  background-color: #E8F6FB;
  border: 1px solid #C4E6EF;
  border-radius: 10px;
  overflow: hidden;
}

.number-spinner-control .container-wrapper {
  height: 300px;
  position:relative;
  width:120px;
  overflow:hidden;
  background-color: transparent;
}

.number-spinner-control .item-container{
  position: absolute;
  z-index: 100;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  background-color: transparent;
}
.number-spinner-control ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.number-spinner-control li {
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  font-size: 15pt;
  color: #808080;
  cursor: default;
}

.number-spinner-control li.selected {
  color: white;
  background: transparent;
  border: none;
}

.number-spinner-control li.item.hidden-item {
  display: none;
}

.number-spinner-control div.buffer-item {
  background-color: transparent;
}

.number-spinner-control div.overlay-top,
.number-spinner-control div.overlay-middle,
.number-spinner-control div.overlay-bottom {
  background-color: #E8F6FB;
  opacity: .5;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 200;
  pointer-events: none;
}

.number-spinner-control div.overlay-top {
  top: 0;
}

.number-spinner-control div.overlay-middle {
  background-color: #00ABD7;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 50;
}

.number-spinner-control div.overlay-bottom {
  bottom: 0;
}
