<!DOCTYPE html>
<html>
    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="Content-Security-Policy" content="default-src *; img-src 'self' data:;  style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
        <meta name="format-detection" content="telephone=no">
        <% include ./scripts.ejs %>

		<title>LogPad App</title>
	</head>
	<body>
		<div id="application"></div>
        <!-- STAKUTIS/TEMPORARY; Pull this first so PDE's can override other templates if needed -->
        <% include ../trainer/logpad/templates/templates %>
        <% include ../trainer/logpad/templates/trainer-language-option %>
        <% include ../../app/logpad/screenshot/templates/screenshot-tpl %>

        <!-- Core Templates -->
        <% include ../core/templates/spinner %>
        <% include ../core/templates/confirm %>
        <% include ../core/templates/notify %>
        <% include ../core/templates/questionnaireCompletion %>
        <% include ../core/templates/reset-secret-question %>
        <% include ../core/templates/reset-password %>
        <% include ../core/templates/forgot-password %>
        <% include ../core/templates/change-temporary-password %>
        <% include ../core/templates/unlock-code %>
        <% include ../core/templates/set-time-zone %>
        <% include ../core/templates/set-time-zone-activation %>
        <% include ../core/templates/blank %>

        <!-- TEMPLATES -->
        <% include ./templates/about %>
        <% include ./templates/activation %>
        <% include ./templates/alarms %>
        <% include ./templates/change-password %>
        <% include ./templates/change-secret-question %>
        <% include ./templates/code-entry %>
        <% include ./templates/context %>
        <% include ./templates/dashboard %>
        <% include ./templates/forgot-password-activation %>
        <% include ./templates/handoff %>
        <% include ./templates/end-user-license %>
        <% include ./templates/install %>
        <% include ./templates/login %>
        <% include ./templates/language-login-option %>
        <% include ./templates/modal %>
        <% include ./templates/privacy-policy-activation %>
        <% include ./templates/privacy-policy %>
        <% include ./templates/questionnaire %>
        <% include ./templates/reactivation %>
        <% include ./templates/reset-password-activation %>
        <% include ./templates/reset-secret-question-activation %>
        <% include ./templates/secret-question %>
        <% include ./templates/support %>
        <% include ./templates/toolbox %>
        <% include ./templates/user-name-login %>
        <% include ./templates/console-log %>

    </body>
</html>
