section.BaseMedLoop {

    p.MEDLOOP_0100_TITLE {
        font-weight: bold;
        text-align: center;
    }

    div#MEDLOOP_0100_Q span,
    div#MEDLOOP_0700_Q_W span,
    p.MEDLOOP_0800_Q_TEXT span,
    p.MEDLOOP_0900_Q_TEXT span,
    p.MEDLOOP_1100_Q_TEXT span,
    p.MEDLOOP_1150_Q_TEXT span,
    div#MEDLOOP_1200_Q label.radio-text span
    {
        direction: ltr;
        unicode-bidi: bidi-override;
    }

    div.modal-footer button.btn.btn-primary {
        overflow: visible;
    }

    // Put the label (units) to the right of the text box
    div#MEDLOOP_1100_Q .form-group {
        display: flex;
        flex-direction: row-reverse;
    }

    div#MEDLOOP_1100_Q label {
        justify-content: flex-end;
        padding-left: 8px;
        padding-top: 8px;
    }

    input#MEDLOOP_1100_Q_W {
        justify-content: flex-start;
    }
}


