
.indicator {
    margin-right: 0px !important;
    text-align: center;
    font-weight: bold;
}

.container-fluid.navbar-secondary #indicators .indicator-red div p {
    background: #fff;
    padding: 0 2px;
    color: red;
    margin-right: 1em !important;
    //height: 50px;
}

.container-fluid.navbar-secondary #indicators .indicator-blue div p {
    background: #fff;
    padding: 0 2px;
    color: blue;
    margin-right: 1em !important;
    //height: 50px;
}

.container-fluid.navbar-secondary #indicators .indicator-blue-tall div p {
    background: #fff;
    padding: 0 2px;
    color: blue;
    //height: 66px;
}

body:lang(tr-TR){
    #end-user-license-view{
        .multiple-btns{
            font-size:9pt;
        }
    }
}

