/*.PDEListBox .scroll-up {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
    z-index: 1;
}

.PPDEListBoxn .scroll-down {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    margin-top: 9px;
    z-index: 1;
}

.PDEListBox ul {
    height: 300px !important;
}

.PDEListBox hr {
    margin: 1em 0;
}

.PDEListBox ul::-webkit-scrollbar {
    -webkit-appearance: none;
}

.PDEListBox ul::-webkit-scrollbar:horizontal {
    height: 0px;
}

.PDEListBox ul::-webkit-scrollbar:vertical {
    width: 7px;
}

.PDEListBox ul::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255, 82, 0, .75);
}

.PDEListBox ul:-webkit-scrollbar-track { 
    background-color: #aaa; 
    border-radius: 8px; 
    border: 2px solid white;
} 

.PDEListBox ul .ui-li-divider {
    border: none;
}*/



/*Remove border from review screen header*/
/*HEADER CSS*/
/*li.reveiwScreen_Headers{
    list-style : none;
}
li.reveiwSCreen_Headers div{
    display        : flex;
    flex-direction : row;
}*/
/*ITEMS CSS*/

div.PDEListBox {
    margin-bottom: -60px;
}

ul.PDEListBox_Items {
    list-style    : none;
    overflow-y    : auto;
    padding       : 5px;
    border        : 1px solid #000000;
    border-radius : 10px;
    //TODO Adjust height in widget base on available screen real estate
    //max-height    : 400px;
    //flex-grow: 1;
}
ul.PDEListBox_Items li.item{
    border-radius : 5px;
    padding       : 5px;
    margin        : 0 0 3px 0;
    //border        : 1px solid #000000;
}

div.PDEListBox hr.style-one{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*ul.PDEListBox_Items li.item.not-selectable{
    background : #EEEEEE;
}*/
ul.PDEListBox_Items li.item.selected{
    background : #D0DD40;
}
/*BUTTONS CSS*/
/*ul.reviewScreen_Buttons{
    list-style : none;
    margin     : 0;
    padding    : 0 0 20px 0;
}
ul.reviewScreen_Buttons li.button{
    text-align : center;
    background : #024E80;
    padding    : 10px;
    border     : 3px solid #035F8F;
}
ul.reviewScreen_Buttons li.button a{
    text-decoration : none;
    color           : white;
}*/
/*EDIT INSTRUCTION TEXT*/
/*div.reviewScreen p.edit-instructions{
    text-align : center;
}

#reviewScreen_Items .not-selectable {
    background-color : #EEE;
}*/

/*Scrolling support*/
/*.PDEListBox_Items {
    overflow-x: visible;
    margin-top: 0px;
    margin-left: -5px;
    margin-right: -10px;
    padding: 0px
}*/

/*.PDEListBox_Items div.item {
    display: none;
}*/

.PDEListBox .scroll-up {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
    z-index: 1;
}

.PDEListBox .scroll-down {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    margin-top: 9px;
    z-index: 1;
}

/*Remove border from review screen header*/
/*#PDEListBox_Items .ui-li-divider {
    border: none;
}*/

/*div.PDEListBox hr {
    margin: 1em 0;
}*/

/*#PDEListBox_Items::-webkit-scrollbar {
    -webkit-appearance: none;
}

#PDEListBox_Items::-webkit-scrollbar:horizontal {
    height: 0px;
}

#PDEListBox_Items::-webkit-scrollbar:vertical {
    width: 7px;
}

#PDEListBox_Items::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255, 82, 0, .75);
}

#PDEListBox_Items::-webkit-scrollbar-track { 
    background-color: #aaa; 
    border-radius: 8px; 
    border: 2px solid white;
} */

