/*ITEMS CSS*/
div.ScrollableReviewScreen ul.reviewScreen_Items{
    list-style    : none;
    padding       : 5px;
    border        : 1px solid #000000;
    border-radius : 10px;
    max-height    : 240px;
}

div.ScrollableReviewScreen ul.reviewScreen_Items li.item{
    border-radius : 5px;
    padding       : 5px;
    margin        : 0 0 3px 0;
    //border        : 1px solid #000000;
}

div.ScrollableReviewScreen hr.style-one{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

div.ScrollableReviewScreen ul.reviewScreen_Items li.item.not-selectable{
    background : #EEEEEE;
}

div.ScrollableReviewScreen li.item.selected{
    background : #D0DD40;
}

/*BUTTONS CSS*/
div.ScrollableReviewScreen ul.reviewScreen_Buttons{
    list-style : none;
    margin     : 0;
    padding    : 0 0 10px 0;
}

div.ScrollableReviewScreen ul.reviewScreen_Buttons li.button{
    text-align : center;
    background : #024E80;
    padding    : 10px;
    border     : 3px solid #035F8F;
}

div.ScrollableReviewScreen ul.reviewScreen_Buttons li.button a{
    text-decoration : none;
    color           : white;
}

/*EDIT INSTRUCTION TEXT*/
div.ScrollableReviewScreen div.reviewScreen p.edit-instructions{
    text-align : center;
    margin-bottom: 0em !important;
}

p.additional-instructions {
    margin-bottom: 0em !important;
    text-align : center;
}

#HHTrainingModule #HHTM200_1_Q1_W0_Items {
    max-height: 134px;
}

div.ScrollableReviewScreen #reviewScreen_Items .not-selectable {
    background-color : #EEE;
}

/*Scrolling support*/
div.ScrollableReviewScreen #reviewScreen_Items {
    overflow-x: visible;
    margin-top: 0px;
    margin-left: -5px;
    margin-right: -10px;
    padding: 0px
}

div.ScrollableReviewScreen .reviewScreen .scroll-up {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
    z-index: 1;
}

div.ScrollableReviewScreen .reviewScreen .scroll-down {
    position: absolute;
    left: 50%;
    margin-left: -9px;
    margin-top: 9px;
    z-index: 1;
}

/*Remove border from review screen header*/
div.ScrollableReviewScreen #reviewScreen_Items .ui-li-divider {
    border: none;
}

div.ScrollableReviewScreen #reviewScreen_Items::-webkit-scrollbar {
    -webkit-appearance: none;
}

div.ScrollableReviewScreen #reviewScreen_Items::-webkit-scrollbar:horizontal {
    height: 0px;
}

div.ScrollableReviewScreen #reviewScreen_Items::-webkit-scrollbar:vertical {
    width: 7px;
}

div.ScrollableReviewScreen #reviewScreen_Items::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255, 82, 0, .75);
}

div.ScrollableReviewScreen #reviewScreen_Items::-webkit-scrollbar-track {
    background-color: #aaa;
    border-radius: 8px;
    border: 2px solid white;
}

/*Remove border from review screen header*/
/* {
    border: none;
}*/
