<script id="edit-patient-template" type="text/template">

	<nav class="navbar navbar-inverse navbar-static-top">

		<div class="container-fluid">
			<div class="row">

				<div class="col-xs-2">
					<span id="back">
						<i class="fa fa-arrow-left"></i>
					</span>
				</div>
				<div class="col-xs-8">
					<div class="container-fluid text-center">
						<h4 class="navbar-text">
							<img src="./media/images/logo.png" height="25px" /> 
							<span>{{ title }}</span>
						</h4>
					</div>
				</div>
				<div class="col-xs-2">
					<button id="settings" class="btn btn-default navbar-btn pull-right">
						<i class="fa fa-cogs"></i>
					</button>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluid home">

		<div class="info-box">

			<div class="row">

				<div class="col-xs-9">

					<strong>{{ fName }} {{ lName }}</strong><br>
					{{ role }}<br><br>
					<strong>Site Number:</strong> {{ siteNumber }}

				</div>

				<div class="col-xs-3">

					<button class="btn btn-default">Reports & Forms  <i class="fa fa-bar-chart"></i></button>
					<button class="btn btn-default">Stored Forms  <i class="fa fa-refresh"></i></button>

				</div>

			</div>
		</div><!-- / .info-box -->

		<div class="row edit-patient">

			<div class="col-xs-3"></div>

			<div class="col-xs-6">

				<form>

					<div class="form-group">
						<label for="id">Patient ID</label>
						<input type="text" id="id" class="form-control" value="100"/>
					</div>

					<div class="form-group">
						<label for="initials">Patient Initials</label>
						<input type="text" id="id" class="form-control" value="ESK" />
					</div>

					<div class="form-group">
						<select>
							<option>English</option>
							<option>Spanish</option>
							<option>French</option>
						</select>
					</div>

				</form>

			</div>

			<div class="col-xs-3"></div>

		</div>

			<!-- <footer id="footer" class="footer">

		      <div class="container-fluid">

				<a class="btn btn-default pull-left" id="cancel">{{ cancel }}</a>
				<a class="btn btn-primary pull-right" id="save">{{ saveChanges }}</a>

		      </div>
		      
		    </footer> -->

	</div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="prevItem" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

			<button id="cancel" class="btn btn-lg btn-primary">
				<span class="text">{{ cancel }}</span>
			</button>

            <button id="save" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ saveChanges }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>