<script id="language-selection-tpl" type="text/template">

	<header class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid text-center">
			<h4 class="navbar-text">
				<img src="./media/images/logo.png" height="25px" /> 
				{{ header }}
			</h4>
		</div>
	</header>

	<div id="content" class="container-fluid">

		<div class="intro">
			<p class="lead">{{ tagline }}</p>
		</div>

		<form class="form">

			<!-- Language -->
			<div class="form-group">
				<label for="language">{{ language }}</label>
				<select id="language" class="form-control" name="language"></select>
			</div>

		</form>

	</div>


	<footer id="footer" class="footer">
	    <div class="single-btn">
            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
	    </div>
	</footer>

</script>