//-- STYLE MIXINS
.box-shadow(...) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -ms-box-shadow: @arguments;
    -o-box-shadow: @arguments;
    box-shadow: @arguments;
}

.inner-shadow(@a: inset; @rest...) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -ms-box-shadow: @arguments;
    -o-box-shadow: @arguments;
    box-shadow: @arguments;
}

.transform(...) {
    -webkit-transform: @arguments;
    -ms-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;
    transform: @arguments;
}


//-- FORM MIXINS
.list-group-item-styles() {
    opacity: 0.9;
    border: 0;
    display: table;
    margin-bottom: 2px;
    font-size: 1.125em;
    font-weight: normal;
    min-height: 70px;
    width: 100%;
    overflow-x: hidden;

    &:first-child, &:last-child {
        border-radius: 0;
    }

    a {
        &:hover, &:visited {
            text-decoration: none;
        }
    }

    .navigate-right {
        width: 100%;
        display: table-cell;
        vertical-align: middle;

        span {
            &:first-child {
                overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-word;

                html[dir='rtl'] & {
                    padding-left: 1em;
                }
                html[dir='ltr'] & {
                    padding-right: 1em;
                }

                display: block;
            }

            &:last-child {
                font-size: 1.222em;
                .glyphicon-nav-styles;
            }
        }

        .title-block {
            display: block;

            p {
                margin-top: 0;
                margin-bottom: 0;
            }

            .title {
                font-weight: 400;
                font-size: 1.3125em;
                line-height: 1;
            }

            .title-subtext {
                font-size: 0.75em;
                line-height: 1.5;
            }
        }

        .glyphicon, .fa {
            &:extend(.navigate-right span:last-child);
        }

        &:after {
            clear: both;
            display: table;
            content: " ";
        }
    }
}

.glyphicon-nav-styles(@position: absolute; @top: 50%; @left: 0.95em; @right: 0.95em) {
    width: 18px;
    position: @position;
    top: @top;
    .transform(translateY(-50%));
    line-height: normal;

    &.glyphicon-menu-left, &.direction-left {
        html[dir='ltr'] & {
            left: @left;
        }

        html[dir='rtl'] & {
            right: @left;
            &:before {
                content: '\e258';
            }
        }
    }

    &.glyphicon-menu-right, &.direction-right {
        html &, html[dir='ltr'] & {
            right: @right;
        }

        html[dir='rtl'] & {
            left: @right;
            right: initial;
            &:before {
                content: '\e257';
            }
        }
    }
}

.form-control-base() {
    height: @form-elem-height;
    border-radius: 4px;
}

//- input form-control class
.form-control-styles(@border-color: @grey) {
    .form-control-base();
    border-bottom: 1px solid @border-color;
    border-top: 1px solid @border-color;

    html[dir='ltr'] & {
        border-left: 0;
        border-right: 1px solid @border-color;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    html[dir='rtl'] & {
        border-right: 0;
        border-left: 1px solid @border-color;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}


.input-group-addon-styles(@glyph-color: darken(@grey, 30%); @bg-color: darken(@grey-light, 15%); @border-color: @grey) {
    &:first-child {
        background-color: @bg-color;
        border: 1px solid @border-color;

        html[dir='ltr'] & {
            border-right: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            .inner-shadow(-10px, 0px, 1px, -10px, @border-color);
        }

        html[dir='rtl'] & {
            border-left: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            .inner-shadow(0px, -10px, 1px, -10px, @border-color);
        }
    }

    .glyphicon, .fa {
        font-size: 1.25em;
        color: @glyph-color;
    }

}

.input-state-styles(@color: @color; @bg-color: @bg-color; @border-color: @border-color) {
    > .input-group-addon {
        .input-group-addon-styles(@glyph-color: @color; @bg-color: @bg-color; @border-color: @border-color);
    }
    > .input-group-addon + input {
        .form-control-styles(@border-color: @color);
    }

    .form-control:last-child {
        .form-control-styles(@border-color: @border-color);
    }

    .form-control-feedback {
        html[dir='ltr'] & {
            right: 0;
        }

        html[dir='rtl'] & {
            left: 0;
            right: unset;
        }
    }
    .glyphicon.form-control-feedback,
    .fa.form-control-feedback {
        &:last-child {
            height: @form-elem-height;
            line-height: 2;
            color: @color;
        }
    }

}

.input-state(@a) when (@a = default) {
    @color: darken(@grey, 30%);
    @bg-color: lighten(@grey, 15%);
    @border-color: lighten(@color, 15%);

    .input-state-styles(@color, @bg-color, @border-color);
}

.input-state(@a) when (@a = passwordDefault) {
    @color: darken(@grey, 30%);
    @bg-color: lighten(@grey, 15%);
    @border-color: @form-grey;

    .input-state-styles(@color, @bg-color, @border-color);
}

.input-state(@a) when (@a = success) {
    @color: @lemon-green;
    @bg-color: lighten(@lemon-green, 50%);
    @border-color: @color;

    .input-state-styles(@color, @bg-color, @border-color);
}

.input-state(@a) when (@a = error) {
    @color: @orangey-red;
    @bg-color: lighten(@orangey-red, 35%);
    @border-color: @color;

    .input-state-styles(@color, @bg-color, @border-color);
}




//-- MODAL MIXINS
.modal-header(@bg-color: @blue-dark) {
    background-color: @bg-color;
    color: @white;
    text-align: center;

    .glyphicon, .fa {
        color: @white;
        html[dir='rtl'] & {
            margin-left: 10px;
        }
        html[dir='ltr'] & {
            margin-right: 10px;
        }
    }
}

.modal-footer() {
    text-align: center;
    border-top: 0;
    padding: 15px 15px;

    button {
        background-color: @white;
        color: @black;
        font-weight: 400;
        font-size: 1em;

        border-radius: 6px;
        width: 45%;

        &.single-button {
            width: 100%;
        }

        &.btn {
            padding: 15px 15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @media (min-width: 768px) {
        button {
            font-size: 1.25em;
        }
    }

    .btn + .btn {
        margin-left: 5%;
        html[dir='rtl'] & {
            margin-left: auto;
            margin-right: 5%;
        }
    }
}
.font-size(@sizeValue) {
    @emValue: @sizeValue*0.0625;
    @remValue: @emValue;
    @pxValue: @sizeValue;
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem";
}
