#faq-container a[aria-expanded=true] .fa-chevron-right {
    display: none;
 }
 #faq-container a[aria-expanded=false] .fa-chevron-down {
    display: none;
 }

.faq-header {
     cursor: pointer;
 }

 .faq-body, .faq-panel {
     padding: 10px;
 }
