#console-log {
    > .container-fluid {
        overflow-y: auto;
    }

    #user-console-log_wrapper{
        tr {
            > td, > th {
                font-size:12px;
                padding: .5rem;
                word-break: break-all;
                min-width:2rem;
                &:not(:first-child){
                    //This assumes first column is ID, regardless first colum  will expand dynamically
                    min-width: 150px;
                }
            }
        }
    }
}
