div.MATRIX_DIARY_Q4 div.RadioButton div.item.btn input[type=radio] + div.icon:before {
    /* font-family: FontAwesome;
    line-height: 1;
    font-weight: 400;
    content: '\f10c'; */
    color: #F4D03F;
}

div.MATRIX_DIARY_Q4 div.RadioButton div.item.btn input[type=radio]:checked + div.icon:before {
    // content: '\f192';
    color: #873600;
    // border: none;
}
