/**
***** QUESTION 0
**/
#TOSS_Q_0 .btn-TOSS_W_0_checkbox_7 {
    margin-top: 15px;
}

/**
***** QUESTION 3
**/
/*
Currently replaced with a different Q3, not checking styles, but checking dynamic answers.
#TOSS_Q_3 .btn-TOSS_W_3_checkbox_0 {
    width: 33% !important;
    margin: auto auto;
}
*/

/**
***** QUESTION 4
**/
#TOSS_Q_4 .btn-TOSS_W_4_checkbox_0 {
    height: 25px !important;
}

#TOSS_Q_4 .btn-TOSS_W_4_checkbox_1 {
    height: 35px !important;
}

#TOSS_Q_4 .btn-TOSS_W_4_checkbox_2 {
    height: 45px !important;
}

#TOSS_Q_4 .btn-TOSS_W_4_checkbox_3 {
    height: 55px !important;
}

/**
***** QUESTION 5
**/
#TOSS_Q_5 label.checkbox-text {
    font-size: 24px;
    font-weight: bold;
}

/**
***** QUESTION 6
**/
#TOSS_Q_6 label.checkbox-text {
    font-size: 24px;
    font-weight: bold;
}

/**
***** QUESTION 7
**/
#TOSS_Q_7 .btn-TOSS_W_7_checkbox_3.active {
    background  : red;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0000), color-stop(100%,#A00000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FF0000 0%,#A00000 100%); /* Chrome10+,Safari5.1+ */
}

#TOSS_Q_7 .btn-TOSS_W_7_checkbox_0.active {
    background  : blue;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0000FF), color-stop(100%,#0000CC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0000FF 0%,#0000CC 100%); /* Chrome10+,Safari5.1+ */
}

#TOSS_Q_7 .btn-TOSS_W_7_checkbox_1.active {
    background  : green;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008000), color-stop(100%,#006600)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #008000 0%,#006600 100%); /* Chrome10+,Safari5.1+ */
}

/**
**** SCREENING TOSS Question 3
**/
#SCREENING_TOSS_Q_3 .btn-SCREENING_TOSS_W_3_radio_3.active {
    background  : red;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0000), color-stop(100%,#A00000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FF0000 0%,#A00000 100%); /* Chrome10+,Safari5.1+ */
}

#SCREENING_TOSS_Q_3 label.radio-text {
    font-size: 24px;
}

#SCREENING_TOSS_Q_4 .btn {
    width: 75% !important;
    height: 40px !important;
    margin: auto auto auto auto;
}
