section.NO_WIDGET_S_2 p.NO_WIDGET_Q2_MESSAGE.text {
  background-color: red;
  color: white;
}
section.NO_WIDGET_S_2 p.NO_WIDGET_Q1_MESSAGE.text {
  color: green;
  font-size: 1.5em;
}

section.NO_WIDGET_S_1 .question-header {
  font-size: 14pt;
  font-weight: bold;
}

section.NO_WIDGET_S_2 .question-header {
  font-size: 14pt;
  font-weight: bold;
}