#EQ5D_TEST_S4_Q1 {
    div#answerDIV {
        background-color: darkred !important;
        color: green !important;
    }
    #topper {
        font-size: 24px;
        font: 24px consolas, Helvetica, Arial, sans-serif;
        color: green;
    }
    #bottom {
        font: 10px consolas, Helvetica, Arial, sans-serif;
        color: red;
    }
}