.Take_Pill {
    font-weight: bold;
}

.impending {
    p {
        color: red!important;
    }

}

/* For testing purposes */
.Test_Indicator {
    font-style: italic;
}

.urgent {
    p {
     color: red!important;
    }
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1ms; /* Necessary to prevent re-paint issues after keyboard closes */

    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function:  cubic-bezier(.5, 0, 1, 1);
    animation-duration: 1s;
    animation-delay: 1ms; /* Necessary to prevent re-paint issues after keyboard closes */
}

@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

@keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}
