/*////////////////*/
/*BPI-SF*/
//Hacky fix for svg randomly adding top and botton margin.
//Following stack over flow link has answers:
//https://stackoverflow.com/questions/27175668/svg-images-rendering-with-huge-space-above-and-below-ios

#HHTrainingModule {
    .HHTM162, .HHTM163, .HHTM164, .HHTM165, .HHTM166 {
        padding-bottom: 2px !important;
    }

    .HHTM162_Q1_TEXT {
        margin-bottom: 0px !important;
    }

    #HHTM200_1_Q1_W0_Items {
        max-height: 220px;
    }

    svg {
        height: 380px !important;
    }

    #HHTM162_Q1 svg {
        height: 310px !important;
    }

    svg path.body-part-selected {
        fill: #2baeeb !important;
    }

    svg rect.worst-pain-selected {
        fill: #ff0000;
        fill-opacity: 1;
    }

    .marker-left .marker-text {
        text-align: right !important;
    }

    .marker-right .marker-text {
        text-align: left !important;
    }

    .reviewScreen_Items, .reviewScreen_Buttons {
        list-style-type: none;
    }

    .not-selectable {
        background: grey;
        color: antiquewhite;
    }

    #HHTM162_Q1, #HHTM163_Q1, #HHTM164_Q1,
    #HHTM165_Q1, #HHTM166_Q1, #HHTM166_Q1 {
        div.widget svg rect {
            pointer-events: none;
        }
    }
}

:lang(es-CL) {
    #HHTrainingModule {
        .marker-left .marker-text {
            text-align: left !important;
        }
    }
}

:lang(es-ES),
:lang(it-IT) {

    #HHTM162_Q1, #HHTM163_Q1, #HHTM164_Q1, #HHTM165_Q1, #HHTM166_Q1 {
        svg {
            overflow: visible !important;
        }
    }
}

:lang(nl-NL) {
    #HHTrainingModule {
        .marker-left .marker-text {
            text-align: left !important;
        }

        .marker-right .marker-text {
            text-align: right !important;
        }
    }
}

:lang(sk-SK) {
    #HHTrainingModule {
        .marker-left .marker-text {
            text-align: left !important;
        }

        .marker .marker-right {
            max-width: 85px;
            width: 85px;
        }
    }
}

:lang(es-US){
    #HHTrainingModule{
        .marker-left .marker-text {
            text-align: left !important;
        }
    }

    .HHTM162_Q1 {
        text#txtFront,
        text#txtFront_L,
        text#txtFront_R,
        text#txtBack,
        text#txtBack_L,
        text#txtBack_R {
            font-size: 16px !important;
        }
    }


    .HHTM163,
    .HHTM164,
    .HHTM165,
    .HHTM166
    {
        text#txtFront,
        text#txtFront_L,
        text#txtFront_R,
        text#txtBack,
        text#txtBack_L,
        text#txtBack_R {
            font-size: 14px !important;
        }
    }

    .HHTM166 {
        text#txtBack_L{
            transform: translate(2em);
        }
    }

    .HHTM165 {
        text#txtBack_L{
            transform: translate(2em);
        }
    }

}

:lang(de-DE){

    .marker-right {
        max-width: 80px !important;
    }
}
