@baseDir: './app/core/less';
@import (reference) '@{baseDir}/mixins';
@import (reference) '@{baseDir}/colors';
@import (reference) '@{baseDir}/forms';
@import '../forms/forms';

.has-feedback .form-control {
  padding-right: 12px;
}

.form-control-feedback {
    right: inherit;
}

a { cursor : pointer };

.page-layout {
    min-height: 100%;
    background-image: url('../media/images/ecoa-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#about-content li{
    font-size : 16px;
    word-wrap : break-word;
    overflow-wrap : break-word;
}

.btn-group-vertical { display : block; };

.navbar-primary {
    margin-bottom : 0px !important;
}



/* Fix for defect DE10650. This prevents scrolling of page in Diaries */
#application {
    padding-bottom: 0px !important;
}

/* Fix for DE12745. Soft keyboard triggers resize event where jQuery applies a min-height and fails to remove it when the keyboard closes */
.ui-page-active {
    min-height: 100% !important;
}

body {
    color : #555555;
    -webkit-user-select: none;
}

canvas{
    background-color : white;
    display          : block;
    width            : 100%;
    margin           : 0;
}

.center {
    text-align : center;
}

.vcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.percentscreen-row{
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh;
}
.large-text{
    font-size: 1.5em;
}
.clear {
    clear : both;
}



/* Clear fix for floating elements */
.clearfix:after {
    clear       : both;
    content     : ".";
    display     : block;
    height      : 0;
    line-height : 0;
    visibility  : hidden;
}

/* Clear fix for floating elements */
.clearfix {
    display : inline-block;
}

/* A block-level element for Question views. */
div.question {
    background-color : #FFF;
    display          : block;
}

div.question p {
    margin-bottom   : 1em;
}

/* A block-level element for containing widgets. */
div.widgets {
    border-bottom  : 1px solid #CDCDCD;
    display        : block;
    margin-bottom  : 1.5em;
    padding-bottom : 1.5em;
}

.hidden {
    display : none;
}

.hidden-wrapper {
    display : none !important;
}

.indicator {
    margin-right        : 10px;
    display             : inline-block;
    vertical-align      : bottom;
}

.indicator p {
    margin-top : 0;
}


/* ui-grid used to display a question's title. */
.question-header {
    border-bottom  : 1px solid #CDCDCD;
    padding-bottom : 10px;
}

div.affidavit-text {
    margin-bottom: 1em;
}

/* Remove negative margin on questionnaires top so they do not overlap indicators */
#questionnairesList {
    margin-top : 0;
}

/* Fixes the Chrome for Android font boosting "bug" */
div[data-role="content"] div,
div[data-role="content"] p,
div[data-role="content"] span,
div[data-role="content"] ul {
    max-height : 999999px;
}


/* margin between vas text labels and vas*/
.vas-label div p {
    margin-bottom : 5px;
    margin-top    : 5px;
}

/* left vas text label if labels are screen edge justified */
.vas-label-screenEdge .ui-block-a p {
    margin-right : 10%;
    text-align   : left;
}
/* right vas text label if labels are screen edge justified */
.vas-label-screenEdge .ui-block-b p {
    margin-left : 10%;
    text-align  : right;
}

/* Default vas pointer color*/
.vas-pointer {
    background-color : transparent;
    color            : #00ACE6;
}

/* This prevents double vas problem on JellyBean safari browser */
.vas-overflow-visible {
    overflow-x : visible;
}


/* admin user icon */
.admin-icon-base {
    background-image: url('../media/images/admin.png') !important;
    background-repeat: no-repeat !important;
    background-size: 20px 20px !important;
}

.admin-icon {
    .admin-icon-base;
}

.width-full {
    width: 100%;
}

.ui-header .ui-title,
.ui-footer .ui-title {
    font-size : 1.125em;
}

/* Override JQM headers to avoid truncation */
.ui-header .ui-title {
    white-space: normal !important;
}

.ui-header .ui-btn-inner,
.ui-footer .ui-btn-inner,
.ui-mini .ui-btn-inner {
    font-size : .95em;
}

.navigation-icon {
    height : 42px;
    width  : 42px;
}

section.screen {
    padding-bottom: 30px;
}

select { height : 35px;}

@media (min-width: 768px) {
    .navbar-text {
        float: none !important;
        margin-right: 15px;
        margin-left: 15px;
    }
}

//--------------------------
// GENERAL STYLES
//--------------------------
html, body, #application {
    height: 100%;
    font-size: 16px;
}



.content-wrap {
    display: block;
    margin-bottom: 50px;
}

.top-padding {
    padding: 10px 0;
}




.fa-spinner {
    color: @blue-inverse;
}

.btn:hover, .btn:focus {
    outline: 0;
}



#forgot-password , #unlock-code{
    margin-top: -8px;
    text-decoration: underline;
    color: @blue-inverse;
    font-weight: 400;

    &:after {
        clear: both;
        display: table;
        content: " ";
    }
}

.text-underline {
    text-decoration: underline;
}

.modal-backdrop.in {
    filter: alpha(opacity=70);
    opacity: .7;
}

//-------------------------------------
// GENERAL STYLES (header)
//-------------------------------------

.navbar-inverse {
    background-color: @blue-inverse;
    border: none;
    margin-bottom: 0;
    min-height: 55px;

    .navbar-text {
        color: @white;
        font-weight: 700;
        font-size: 1.25rem;
    }

    #back {
        font-size: 1.75rem;
        line-height: 1;
        padding: 13px 0;
        color: @white;
    }

    #application-toolbox {
        &:extend(.navbar-inverse #back);
    }

    .col-xs-8 {
        padding: 0;
    }

}

.container-fluid {
    margin-left: 0;
    margin-right: 0;

    &.navbar-secondary {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;

        #indicators {
            p {
                color: @white;
                margin-bottom: 5px;
            }
            img {
                height: 45px;
            }
        }

        .sync-item {
            color: @white;
            font-size: 1.6875rem;

            .text-center {
                font-weight: 800;
            }

            .glyphicon-refresh:before {

            }
        }
    }

}

&.subheader {
    h4 {
        font-weight: 700;
    }

    border-bottom: 1px solid @grey;
}



//--------------------------------
// CODEENTRYVIEW
//--------------------------------
#code-entry-page {

    #content {
        padding: 7px 15px;
        margin-right: auto;
        margin-left: auto;

        #scanner {
            background: url(../media/images/QRcode.png) no-repeat center;
            width: 150px;
            height: 150px;
            margin: 20px auto 20px auto;
            border: 2px solid @grey;
            border-radius: 6px;
        }

        #codeEntryForm {
            label[for="txtCode"] {
                margin-top: 20px;
            }
        }
    }
}

//--------------------------------
// LOGINVIEW
//--------------------------------
#login-view, #context-switching-view {
    .page-layout;
    overflow-x: hidden;

    .intro-block {
        color: @white;
        font-weight: 700;
        padding: 20px 0;

        h3.welcome-msg {
            font-size: 2em;
            margin-top: 0;
            font-weight: 400;
            margin-left: 15px;
            margin-right: 15px;
        }

        h4.sub-intro {
            margin-top: 0;
            margin-bottom: 2px;
            font-size: 1em;
        }
    }
}

//--------------------------------
// DASHBOARDVIEW
//--------------------------------
#dashboard-page {
    .page-layout;
    overflow-x: hidden;

    #dashboard-subheader {
        background-color: inherit;
        border-bottom: 1px solid @grey-light;
        margin-bottom: 0;

        #timeTravel {
            color: @white;
        }
    }

    #dashboard-content {
        &.container-fluid {
            padding: 0;

            #inactiveMsg, #indicators, #noDiariesMsg {
                padding: 15px 5px 0;
                color: @white;
            }

            #questionnairesList {
                a {
                    color: @blue-inverse;
                }
                .list-group-item {
                    .list-group-item-styles;

                }
            }
        }
    }
}

//--------------------------------
// TOOLBOXVIEW
//--------------------------------
#toolbox-page {
    .page-layout;

    > .container-fluid {
        padding: 0;

        a {
            color: @blue-inverse;
        }

        .list-group-item {
            .list-group-item-styles;
            .title {
                font-size: 1.3125rem;
            }
        }
    }
}

#set-alarms-page {
    .page-layout;

    > .container-fluid {
        padding: 0;

        a {
            color: @blue-inverse;
        }

        .list-group-item {
            .list-group-item-styles;
            font-size: 1.5em;
        }
    }
}

li.select2-results__option,
#set-time-zone-page {

    &:after {
        clear: both;
        content: ' ';
        display: block;
    }

}

#about-page {
    color: @black;

    >.container-fluid {
        padding: 0;

        a {
            color: @blue-page-bg;
        }

        .list-group-item {
            .list-group-item-styles;
            border-bottom: 1px solid @grey;
            margin-bottom: 0;
            padding: 10px 15px;

            p {
                margin-bottom: 0;

                &.title {
                    font-size: 1.5rem;
                }

                &.title-subtext {
                    font-size: 0.8em;

                    // Font size of study url on about screen
                    &#about-url {
                        font-size : 0.6666em;
                        color     : #005CAB;
                    }
                }
            }

            .glyphicon, .fa {
                .glyphicon-nav-styles;
            }
        }
    }

}

[id*="privacy-policy-"] {
    #privacy-policy-wrapper {
        position: relative;

        > div {
            display: table-row;

            span {
                display: table-cell;
                height: 35px;
                width: 150px;
                padding: 5px;

                &:first-child {
                    font-weight: 700;
                }
            }

            &:last-child span {
                position: absolute;
                width: 100%;
                font-weight: 400;
            }
        }
    }
}

// DE14683 - Remove outline from all inputs, and focused elements.
input,
select,
textarea {
  outline: none;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

.qr-button-group .btn {
    margin: 5px;
}
