<header class="navbar navbar-inverse navbar-static-top navbar-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2"></div>

            <div class="col-xs-8 text-center">
                <h4 class="navbar-text">
                    <img src="./media/images/logo.png" height="25px"/>
                    {{ header }}
                </h4>
            </div>

            <div class="col-xs-2">
            </div>
        </div>
    </div>
</header>


<section class="navbar navbar-secondary subheader">
    <div class="container-fluid">
        <h4 class="navbar-text">{{ title }}</h4>
    </div>
</section>

<div class="container-fluid" id="screenshot-config-options">

    <div class="screenshot-checkbox-container">

        <div class="sub-title">
            <label for="screenshot-checkbox-group-lbl">Select {{ mode }}:</label>
        </div>

        <div class="select-link"><span class="check-all">Select All</span> | <span class="uncheck-all">Deselect All</span></div>

        <div id="screenshot-checkbox-group" class="list">

        </div>

    </div>

</div>


<footer id="footer" class="footer">
    <div class="multiple-btns">
        <button id="back" class="btn btn-primary nav-backward">
            <span class="glyphicon glyphicon-menu-left"></span>
            <span class="text">Back</span>
        </button>

        <button id="next" class="btn btn-primary nav-forward">
            <span class="text">Next</span>
            <span class="glyphicon glyphicon-menu-right"></span>
        </button>
    </div>
</footer>