<script id="site-assignment-tpl" type="text/template">
    <header class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" />
                <span>{{ header }}</span>
            </h4>
        </div>
    </header>

    <div id="content" class="container-fluid">
        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-8">
                <form id="site-assignment-form">
                    <div class="form-group">
                        <label for="site">{{ site }}:</label>
                        <select id="site" class="form-control" name="site" data-placeholder="{{ siteNumber }}"><option value=""></option></select>
                    </div>
                    <div id="language-selection" class="form-group">
                        <div>
                            <label for="languages">{{ language }}</label>
                        </div>
                        <div>
                            <select name="languages" id="languages" class="form-control" data-placeholder="Select Language"></select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-2"></div>
        </div>


    </div>


    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="next" class="btn btn-lg btn-primary nav-forward" disabled>
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>
