
<!-- CODE ENTRY TEMPLATE
	  @param header Displayed application title.
	  @param title Displayed form title.
	  @param activationCode Label to text input.
	  @param submitIcon Icon for the submit button of the form.
	  @param submit Text to display for the submit button.
	  @param key A generated key to keep each input name unique.
 -->
<script id="codeEntry-template" type="text/template">
	<header class="navbar navbar-inverse navbar-static-top navbar-primary">
		<div class="container-fluid text-center">
			<h4 class="navbar-text">
				<img src="./media/images/logo.png" height="25px" />
				{{ header }}
			</h4>
		</div>
	</header>

	<section class="hidden container-fluid navbar-secondary subheader">
		<div class="container-fluid text-center">
			<h4 class="navbar-text">{{ title }}</h4>
		</div>
	</section>


	<div id="content" class="container">
		<div id="scanner"> </div>

		<form id="codeEntryForm" class="form" data-ajax="false" autocomplete="off" autocorrect="off">
			<div class="form-group">
				<label for="txtStudy">{{ studyUrl }}</label>
				<input type="url" id="txtStudy" class="form-control" name="txtStudy_{{ key }}" />

				<label for="txtCode">{{ activationCode }}</label>
				<input type="number" id="txtCode" class="form-control" name="txtCode_{{ key }}" />
			</div>


		</form>
		<div class="qr-button-group">
			<div id="checkConnection" class="container">
				<button id="checkConnectionBtn" class="btn btn-primary btn-block" type="button" >
					<span class="text">{{ checkConnectBtn }}</span>
				</button>
			</div>
			<div id="reset" class="container">
				<button id="resetBtn" class="btn btn-primary btn-block" type="button" >
					<span class="text">{{ resetBtn }}</span>
				</button>
			</div>
		</div>
	</div>

	<footer id="footer" class="footer">
	    <div class="single-btn">
	        <button disabled id="next" class="btn btn-primary btn-primary nav-forward">
	            <span class="text">{{ submit }}</span>
	            <span class="glyphicon glyphicon-menu-right"></span>
	        </button>
	    </div>
	</footer>
</script>
