<script id="console-log-tpl" type="text/template">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <span id="back" class="pull-left">
                        <i class="fa fa-reply"></i>
                    </span>
                </div>
                <div class="col-xs-8">
                    <div class="container-fluid text-center">
                        <h4 class="navbar-text">
                            <img src="./media/images/logo.png" height="25px" />
                            <span>{{ title }}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <table id="user-console-log" class="table table-hover table-bordered table-striped" width="100%">
        </table>
    </div>
</script>
