<!-- PRIVACY POLICY TEMPLATE
	@param header Displayed application header.
	@param title Displayed page title.
    @param textLabel Label for the text of the privacy policy
    @param text The text of the privacy policy

-->
<script id="privacy-policy-template" type="text/template">
	<header class="navbar navbar-inverse navbar-static-top navbar-primary">
		<div class="container-fluid text-center">
			<h4 class="navbar-text">
				<img src="./media/images/logo.png" height="25px" />
				{{ header }}
			</h4>
		</div>
	</header>

	<section class="navbar navbar-static-top navbar-secondary subheader">
	    <div class="container-fluid text-left">
	        <h4 class="navbar-text">{{ title }}</h4>
	    </div>
	</section>

	<div class="container-fluid">
		<div id="privacy-policy-wrapper">
            <p><b>{{ textLabel }}</b></p>
            <p>{{text}}</p>
		</div>

	</div>

	<footer id="footer" class="footer">
	    <div class="single-btn">
	        <button id="back" class="btn btn-lg btn-primary nav-backward">
	            <span class="glyphicon glyphicon-menu-left"></span>
	            <span class="text">{{ back }}</span>
	        </button>
	    </div>
	</footer>
</script>
