<!-- QUESTIONNAIRE TEMPLATE
	@param header The text to display for the application's header.
	@param className The CSS class to use for the questionnaire
	@param backIcon The icon to display for the back button.
	@param back The text to display for the back button.
	@param nextIcon The icon to display for the next button.
	@param next The text to display for the next button.
-->
<script id="questionnaire-template" type="text/template">

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid text-center">
			<h4 class="navbar-text">{{ header }}</h4>
		</div>
	</nav>

	<div class="container">
		<div id="questionnaire" class="{{ className }}">

		</div>
		<div class="clearfix"></div>
	</div>

	<footer id="footer" class="footer">
	    <div class="multiple-btns">
	        <button id="prevItem" class="btn btn-lg btn-primary nav nav-backward">
	            <span class="glyphicon glyphicon-menu-left"></span>
	            <span class="text">{{ back }}</span>
	        </button>

	        <button id="nextItem" class="btn btn-lg btn-primary nav nav-forward">
	            <span class="text">{{ next }}</span>
	            <span class="glyphicon glyphicon-menu-right"></span>
	        </button>
	    </div>
	</footer>
</script>
