<script id="blank-template" type="text/template" xmlns="http://www.w3.org/1999/html">
    <header class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">

                <!-- Left -->
                <div class="col-xs-2"></div>

                <!-- Center -->
                <div class="col-xs-8 text-center">
                    <h4 class="navbar-text">
                        {{ title }}
                    </h4>
                </div>

                <!-- Right -->
                <div class="col-xs-2"></div>
            </div>
        </div>
    </header>

    <footer id="footer" class="footer"></footer>
</script>
