<script id="set-time-zone-template" type="text/template" xmlns="http://www.w3.org/1999/html">
    <header class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">

                <!-- Left -->
                <div class="col-xs-2">
                   <span id="back" class="pull-left">
                       <span class="fa fa-reply"></span>
                   </span>
                </div>

                <!-- Center -->
                <div class="col-xs-8 text-center">
                    <h4 class="navbar-text">
                        {{ title }}
                    </h4>
                </div>

                <!-- Right -->
                <div class="col-xs-2"></div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <form>
                <h4 class= "text-center">{{ timezone_msg }}</h4>
                <div class="form-group">
                    <select id="selectTimeZone" size="8" class="form-control pre-scrollable select2-results bigdrop" >
                    </select>
                </div>
                <button id="set_button" type="button" class="btn btn-primary btn-lg btn-block" disabled="true">
                    <span class="text">{{ set }}</span>
                </button>
            </div>
        </div>
    </div>
</script>
