<!-- UNLOCK CODE TEMPLATE
	@param header The text to display for the application's header.
	@param title The text to display for the pages title.
	@param unlockCode The unlock code text.
	@param submitIcon The icon to display for the submit button.
	@param submit The text to display for the submit button.
	@param key A generated key to keep each input name unique.
-->
<script id="unlock-code-template" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px"/>
                {{ header }}
            </h4>
        </div>
    </header>

    <section class="navbar navbar-static-top navbar-secondary subheader">
        <div class="container-fluid text-left">
            <h4 class="navbar-text">{{ title }}</h4>
        </div>
    </section>

    <div class="container-fluid">

        <p>{{ disabledSQText }}</p>

        <p>{{ contactUnlock }}</p>

        <p>{{ currentDate }} </p>

        <p>{{ unlockCode }}</p>

        <form class="form" data-ajax="false" autocomplete="off" autocorrect="off">
            <label for="unlock_code">{{ unlockCodeLabel }}:</label>
            <div class="form-group">
                <input type="text" class="form-control" name="unlock_code_{{ key }}" id="unlock_code" value=""/>
            </div>
        </form>
    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="submit" class="btn btn-lg btn-primary nav-forward" disabled>
                <span class="text">{{ submit }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>
