<!DOCTYPE html>
<html>
    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta http-equiv="Content-Security-Policy" content="default-src *; img-src 'self' *.cloudfront.net data:; style-src 'self' *.cloudfront.net 'unsafe-inline'; script-src 'self' *.cloudfront.net 'unsafe-inline' 'unsafe-eval'">
        <meta name="format-detection" content="telephone=no">

        <title>eCoa Web</title>

        <% include ./stylesheets.ejs %>
    </head>
    <body>
        <div id="application"></div>
        <form name="tab-management" class="hidden">
            <input type="text" id="active-tab" name="active-tab" value="0" />
        </form>

        <% include ../trainer/sitepad/templates/templates %>

        <!-- Core Templates -->
        <% include ../core/templates/qrcode %>
        <% include ../core/templates/spinner %>
        <% include ../core/templates/confirm %>
        <% include ../core/templates/notify %>
        <% include ../core/templates/questionnaireCompletion %>
        <% include ../core/templates/reset-secret-question %>
        <% include ../core/templates/reset-password %>
        <% include ../core/templates/forgot-password %>
        <% include ../core/templates/change-temporary-password %>
        <% include ../core/templates/unlock-code %>
        <% include ../core/templates/blank %>

        <!-- SPA Templates -->
        <% include ../sitepad/templates/site-selection %>
        <% include ../sitepad/templates/home %>
        <% include ../sitepad/templates/context %>
        <% include ../sitepad/templates/settings %>
        <% include ../sitepad/templates/visit-gateway %>
        <% include ../sitepad/templates/edit-patient %>
        <% include ../sitepad/templates/deactivate-patient %>
        <% include ../sitepad/templates/site-user-login %>
        <% include ../sitepad/templates/site-users %>
        <% include ../sitepad/templates/questionnaire %>
        <% include ../sitepad/templates/about %>
        <% include ../sitepad/templates/info %>
        <% include ../sitepad/templates/settings-info %>
        <% include ../sitepad/templates/customer-support %>
        <% include ../sitepad/templates/set-time-zone-activation %>
        <% include ../sitepad/templates/mode-selection %>
        <% include ../sitepad/templates/language-selection %>
        <% include ../sitepad/templates/set-password %>
        <% include ../sitepad/templates/secret-question %>
        <% include ../sitepad/templates/account-configured %>
        <% include ../sitepad/templates/user-name-login %>
        <% include ../sitepad/templates/console-log %>
        <% include ../sitepad/templates/info %>

        <!-- Web Templates -->
        <% include ./templates/end-user-license.ejs %>
        <% include ./templates/site-assignment.ejs %>
        <% include ./templates/unlock-code.ejs %>
        <% include ./templates/language-login-option.ejs %>
        <% include ./templates/set-site-time-zone.ejs %>
        <% include ./templates/login.ejs %>
        <% include ./templates/form-gateway.ejs %>
        <% include ./templates/unsupported-browser.ejs %>
        <% include ./templates/inactive-tab.ejs %>
        <% include ./templates/first-site-user-questionnaire.ejs %>

        <!-- As per web best practices, all <script> tags should be at the bottom of the body. -->
        <% include ./scripts.ejs %>
    </body>
</html>
