<script id="notify-template" type="text/template">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title"><span>{{ header }}</span></h4>
			</div>

			<!-- Body -->
			<div class="modal-body">
				{{ body }}
			</div>

			<!-- Footer -->
			<footer class="modal-footer">
				<button 
					id="ok"
					class="btn btn-default single-button">
					{{ ok }}
				</button>
			</footer>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->

</script>