<script id="set-time-zone-activation-template" type="text/template" xmlns="http://www.w3.org/1999/html">
    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" />
                {{ header }}
            </h4>
        </div>
    </header>

    <div id="about-content" class="container-fluid">
        <h4 class= "bold col-xs-12 col-md-12 text-center">{{ timezone_msg }}</h4>
        <br/>
        <select size="8" class="form-control col-xs-6 col-md-6 pre-scrollable select2-results bigdrop" style="border-bottom: 1px dotted black; font-size: large" id="selectTimeZone">
        </select>
    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward" disabled="true">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>
